<div ng-class="{'default': true}" id="{{vm.profile.type}}-about-you">
    <div class="about-you common-job-box review-summary">
        <div class="common-box-content">
            <div class="section-title">
                Personal details
                <a class="pull-right edit-section-link" ng-click="vm.editSection()" ng-if="vm.isV2UX">EDIT</a>
            </div>
            <div class="common-sub-box">
                <form class="content-form" name="aboutYouForm" novalidate>
                  <div class="row each-group" ng-show="vm.principalName">
                    <div class="col-xs-12 col-sm-12 form-group">
                      <label class="view-form-title">Principal Name</label>
                      <p class="view-form-input">{{ vm.principalName }}</p>
                    </div>
                  </div>
                    <!--PD-2442: Display only "Name" in Application form if First Name missing in LA-->
                    <div class="row each-group" ng-if="!vm.firstName && vm.loginStatus">
                        <div class="col-xs-12 col-sm-6 form-group">
                            <input-review about-you-form="aboutYouForm" input-value="vm.lastName" input-details="vm.inputDetails[0]" login-status="vm.loginStatus" validate-input="vm.validateInput(type, str)">
                            </input-review>
                            <span class="field-support">Per your NRIC</span>
                        </div>
                    </div>
                    <div class="row each-group" ng-if="vm.firstName || !vm.loginStatus">
                        <div class="col-xs-12 col-sm-6 form-group">
                            <input-review about-you-form="aboutYouForm" input-value="vm.firstName" input-details="vm.inputDetails[1]" login-status="vm.loginStatus" validate-input="vm.validateInput(type, str)">
                            </input-review>
                            <span class="field-support">Per your NRIC</span>
                        </div>
                        <div class="col-xs-12 col-sm-6 form-group">
                            <input-review about-you-form="aboutYouForm" input-value="vm.lastName" input-details="vm.inputDetails[0]" login-status="vm.loginStatus" validate-input="vm.validateInput(type, str)">
                            </input-review>
                            <span class="field-support">Per your NRIC</span>
                        </div>

                    </div>
                    <div class="row each-group">
                        <div class="col-xs-12 col-sm-6 form-group">
                            <!-- <input-review about-you-form="aboutYouForm" input-value="vm.nric" input-details="vm.inputDetails[2]" login-status="vm.loginStatus" validate-input="vm.validateInput(type, str)">
                            </input-review> -->
                            <label class="static-label label-grey" for="nric">NRIC/FIN/Identification No.</label>
                            <p class="view-form-input">{{ vm.nric | mask:4 }}</p>
                            <div>
                                <span class="field-support">Only customers with a valid NRIC/FIN/Identification No. can apply</span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 form-group" ng-show="vm.isExistCustomerDecl === 'false' || vm.myInfoSelected">
                            <div>
                                <phone-input
                                  about-you-form="aboutYouForm" idd="vm.idd" number="vm.number"
                                  mobile-valid-error="vm.mobileValidError"
                                  idd-valid-error="vm.IDD"
                                  login-status="vm.loginStatus" validate-input="vm.validateInput(type, str, prerequisite)">
                                </phone-input>
                            </div>
                            <div>
                                <span class="field-support">In case we need to contact you about this application</span>
                            </div>
                        </div>
                    </div>
                    <div class="row each-group">
                        <div ng-if="!vm.myInfoSelected" class="col-xs-12 col-sm-6 form-group">
                            <gender-select about-you-form="aboutYouForm" gender="vm.gender" drop-down-list="vm.genders" login-status="vm.loginStatus" profile="vm.profile">
                            </gender-select>
                        </div>
                        <div ng-if="vm.myInfoSelected" class="col-xs-12 col-sm-6 form-group">
                          <label class="view-form-title">Gender</label>
                          <p class="view-form-input">{{ vm.gender == 'M' ? 'Male' : 'Female' }}</p>
                        </div>
                        <div class="col-xs-12 col-sm-6 form-group">
                            <dob-input about-you-form="aboutYouForm" dob-date="vm.dob" login-status="vm.loginStatus"></dob-input>
                            <span class="field-support" ng-show="!vm.loginStatus && vm.isPAS">Editing your DOB might require you to restart your application</span>
                        </div>
                    </div>
                    <div class="row each-group" ng-show="vm.myInfoSelected">
                      <div class="col-xs-12 col-sm-6 form-group">
                        <!-- <div ng-if="!vm.myInfoSelected"> -->
<!--                          <label class="view-form-title">Nationality</label>-->
<!--                          <p class="view-form-input">{{ vm.nationalityDesc }}</p>-->
                          <!-- <select-edit-review label-name="'Nationality'" current-value="vm.nationality" current-value-desc="vm.nationalityDesc" -->
                                              <!-- drop-down-list="vm.allNationality" current-form="aboutYouForm" field-name="'nationality'" select-mode="'REVIEW'" drop-down-key="['option','value']"></select-edit-review> -->
                        <!-- </div> -->
                        <div>
                          <label class="view-form-title">Nationality</label>
                          <p class="view-form-input">{{ vm.nationalityDesc }}</p>
                        </div>
                      </div>
                      <div ng-if="vm.residentialStatusDesc" class="col-xs-12 col-sm-6 form-group">
                        <div>
                          <label class="view-form-title">Residency Status</label>
                          <p class="view-form-input">{{ vm.residentialStatusDesc }}</p>
                        </div>
                        <div ng-if="vm.profile.residencyCode === 3">
                          <label class="view-form-title">Pass Type</label>
                          <p class="view-form-input">{{ vm.passTypeDesc }}</p>
                        </div>
                        <div ng-if="vm.profile.residencyCode === 3">
                          <label class="view-form-title">Pass Status</label>
                          <p class="view-form-input">{{ vm.passStatus }}</p>
                        </div>
                        <div ng-if="vm.profile.residencyCode === 3">
                          <label class="view-form-title">Pass Expiry Date</label>
                          <p class="view-form-input">{{ vm.passExpiryDate }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="row each-group">
                      <div class="col-xs-12 col-sm-6 form-group">
                        <input-review about-you-form="aboutYouForm" input-value="vm.email" input-details="vm.inputDetails[3]" validate-input="vm.validateInput(type, str)">
                        </input-review>
                      </div>
                      <div class="col-xs-12 col-sm-6 form-group">
                        <questions-pru ng-if='vm.aboutYouQuestions.length > 0' filter-question="vm.aboutYouQuestions" questionnaire-json="vm.aboutYouQ" questionnaire-cat="vm.questionnaireCat" edit-mode="vm.summaryStep !== 'REVIEW'"></questions-pru>
                      </div>
                    </div>
                    <div ng-show="vm.showMediSave" class="row each-group">
                        <div class="col-xs-12 form-group">
                            <label class="static-label label-grey" for="mediSave">MediSave Account</label>
                            <p class="view-form-input">{{ vm.nric | mask:4 }}</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
