<div id="{{vm.profile.type}}-health">
    <div class="about-you details-common" ng-class="{'common-details-box':(vm.summaryStep ==='DETAIL')}">
        <div class="common-box-header" ng-class="{'isCollapse':vm.isCollapsed}" ng-show="vm.summaryStep !=='EDIT'">
            <div class="row">
                <div class="col-xs-10">
                    <h1 ng-hide="vm.reqType === 'PC'">Health and Lifestyle</h1>
                    <h1 ng-show="vm.reqType === 'PC'">Your Health</h1>
                </div>
                <div class="col-xs-2">
                    <a ng-class="{'isCollapse':vm.isCollapsed}" href="#" ng-click="vm.setStep()" id="healthCommonHide" name="healthCommonHide" title="healthCommonHide">
                        <span class="pull-right collapse-icon glyphicon"
                            ng-class="{'glyphicon-chevron-up': !vm.isCollapsed, 'glyphicon-chevron-down': vm.isCollapsed}"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="common-box-content" uib-collapse="vm.isCollapsed">
            <div class="section-title" ng-show="vm.summaryStep =='REVIEW' || vm.summaryStep =='EDIT'">
                <span ng-hide="vm.reqType === 'PC' || vm.reqType === 'PAT'">Health details</span>
                <span ng-show="vm.reqType === 'PC' || vm.reqType === 'PAT'">Your Health</span>
            </div>
            <div ng-class="{'common-main-content':vm.summaryStep ==='DETAIL'}">
                <div class="common-sub-box">
                    <form class="content-form" name="healthForm" novalidate>
                        <div class="each-group">
                            <questions-shield ng-if="vm.reqType === 'PS'"
                                questionnaire-json="vm.healthQ"
                                questionnaire-cat="vm.questionRequest.cat"
                                check-if-kickout="vm.checkIfKickout(qCode)"
                                summary-step = "vm.summaryStep"
                                edit-mode="vm.summaryStep == 'EDIT' || vm.summaryStep == 'DETAIL'">
                            </questions-shield>
                            <questions-pru ng-if="vm.reqType !== 'PS'"
                                questionnaire-json="vm.healthQ"
                                questionnaire-cat="vm.questionRequest.cat"
                                check-if-kickout="vm.checkIfKickout(qCode)"
                                edit-mode="vm.summaryStep == 'EDIT' || vm.summaryStep == 'DETAIL'">
                            </questions-pru>
                        </div>
                        <div class="row each-group heightandweight" ng-if="vm.reqType !== 'PC' && vm.reqType !== 'PAT' && !vm.healthSectionSIO">
                            <div class="col-xs-12 col-sm-6 col-md-6 form-group">
                                <div ng-show="vm.summaryStep =='EDIT' || vm.summaryStep ==='DETAIL'">
                                    <label class="static-label label-grey focus error" for="txtHeight">Height(cm)</label>
                                    <span class="error-msg" ng-show="vm.healthDetails.height && healthForm.height.$invalid && healthForm.height.$isOnBlur">Please enter a valid height</span>
                                    <span class="error-msg" ng-show="!vm.healthDetails.height && healthForm.height.$isOnBlur">Please enter a valid height</span>
                                    <input type="text" required class="form-control input-summary-style isBlurValidation" id="txtHeight" name="height" title="height" ng-model="vm.healthDetails.height" only-number maxlength="3">
                                </div>
                                <div ng-show="vm.summaryStep =='REVIEW'">
                                    <label class="view-form-title">Height(cm)</label>
                                    <p class="view-form-input">{{vm.healthDetails.height}}</p>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 form-group">
                                <div ng-show="vm.summaryStep =='EDIT' || vm.summaryStep ==='DETAIL'">
                                    <label class="static-label label-grey focus error" for="txtWeight">Weight(kg)</label>
                                    <span class="error-msg" ng-show="vm.healthDetails.weight && healthForm.weight.$invalid && healthForm.weight.$isOnBlur">Please enter a valid weight</span>
                                    <span class="error-msg" ng-show="!vm.healthDetails.weight && healthForm.weight.$isOnBlur">Please enter a valid weight</span>
                                    <input type="text" required class="form-control input-summary-style isBlurValidation" id="txtWeight" name="weight" title="weight" ng-model="vm.healthDetails.weight" only-number maxlength="3">
                                </div>
                                <div ng-show="vm.summaryStep =='REVIEW'">
                                    <label class="view-form-title">Weight(kg)</label>
                                    <p class="view-form-input">{{vm.healthDetails.weight}}</p>
                                </div>
                            </div>
                        </div>
                        <div ng-show="vm.summaryStep =='REVIEW'" class="box-label" ng-repeat="questionOccu in vm.previousPolicyInSummary">
                            <p ng-bind-html="questionOccu.question.description"></p>
                            <p class="label-text">{{questionOccu.answer.label}}</p>
                        </div>
                        <div ng-show="vm.summaryStep =='REVIEW'" class="box-label" ng-repeat="question in vm.generalDetailsInSummary">
                            <p ng-bind-html="question.question.description"></p>
                            <p class="label-text">{{question.answer.label}}</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="btn-box text-right" ng-show="vm.summaryStep =='DETAIL' && !vm.isCollapsed">
            <button id="btnNextToUpload" name="nextToUpload" title="nextToUpload" class="btn detail-btn detail-submit-btn" ng-click="vm.validateForm()">NEXT</button>
        </div>
    </div>
</div>
