/* Application Summary Header Section */

.summary-header {
    .header-title {
        @extend .sub-header;
    }
    .header-waring {
        position: relative;
        @extend .common-background-darkgray;
        @extend .common-color-white;
        @extend .font-size-28;
        @extend .prusans-book;
        padding: 0.6rem 0;
    }
    .header-waring .icon-cross {
        position: absolute;
        right: 0;
        top: 0;
        background-color: #585e62;
    }
    .header-waring .icon-cross img {
        width: 12px;
        height: 12px;
        margin: 16px;
    }
    .error-desc {
        @extend .common-color-red;
        @extend .font-size-28;
        @extend .prusans-book;
    }
    @media only screen and (max-width:1200px) {
        .header-waring .icon-cross {
            background: transparent;
        }
    }
    @media #{$tablet-layout},
    #{$mobile-layout} {
        .header-waring {
            font-size: font-size-pt(22);
        }
    }
}

/* Application Summary Form Step */

.summary-navbar {
    position: relative;
    @extend .common-background-smoke;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    .navbar-item.complete .num:after {
        content: "";
        color: #ffffff;
        font-size: 0.85rem;
    }
    .navbar-item.complete .name,
    .navbar-item.active .name {
        @extend .prusans-medium;
        @extend .common-color-red;
    }
    .navbar-item span {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        z-index: 3;
    }
    .navbar-item .item {
        width: 31px;
        height: 31px;
    }
    .navbar-item .num {
        position: absolute;
        top: 4px;
        left: 4px;
        width: 23px;
        height: 23px;
        @extend .common-background-blue;
        border-radius: 20px;
        text-align: center;
        line-height: 23px;
        @extend .prusans-medium;
        font-size: 0.7rem;
        color: #ffffff;
        z-index: 4;
    }
    .navbar-item.complete .num,
    .navbar-item.active .num {
        @extend .common-background-red;
    }
    .navbar-item.complete .circle,
    .navbar-item.active .circle {
        position: absolute;
        left: 0;
        top: 0;
        width: 31px;
        height: 31px;
        border: 2px solid #ED1B2E;
        @extend .common-background-smoke;
        border-radius: 50%;
    }
    .navbar-item .name {
        margin-left: 5px;
        @extend .prusans-medium;
        @extend .font-size-32;
        @extend .common-color-blue;
    }
}

@media only screen and (max-width:992px) {
    .summary-navbar {
        padding-bottom: 0.55rem;
        .navbar-item:before {
            content: " ";
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -15px;
            width: 100%;
            height: 1px;
            background: #a8a8a8;
            z-index: 2;
        }
        .navbar-item.complete:before {
            background: #ED1B2E;
        }
        .navbar-item.active:before {
            background: -webkit-linear-gradient(left, #ED1B2E 0%, #ED1B2E 50%, #a8a8a8 50%, #a8a8a8 100%);
        }
        .navbar-item:last-child:before {
            display: none;
            content: " ";
            width: 0;
            height: 0;
        }
        .navbar-item span {
            margin: 0 auto;
            display: block;
            text-align: center;
        }
        .navbar-item .name {
            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
            font-size: font-size-pt(21);
            margin-top: 9px;
            margin-left: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .navbar-item.active .name {
            display: block;
            width: 200%;
        }
        .navbar-item.active:last-child .name {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .navbar-item.complete .circle {
            display: none;
        }
    }
}

/* Application Summary Content */

.summary-content-box {
    @extend .common-background-whitesmoke;
    padding-bottom: 65px;
    padding-top: 35px;
}

/*  Each Common Content Box */

.summary-content-box .common-details-box {
    background-color: #fff;
    margin-bottom: 25px;
    box-shadow: 0 0 1rem #A8A8A8;
}

.summary-content-box .common-review-box {
    margin-bottom: 15px;
}

.summary-content-box .common-review-box:last-child {
    margin-bottom: 0;
}

.summary-content-box .btn-box {
    margin-top: 24px;
}

.summary-content-box .content-title-box {
    h1 {
        @extend .heading-medium-bold;
        margin-top: 0px;
        @media only screen and (max-width: 768px) {
            padding-left: 0.75rem;
        }
    }
    h3 {
        @extend .body-text-medium;
        line-height: 1.3;
        margin-bottom: 35px;
        @media only screen and (max-width: 768px) {
            padding-left: 0.75rem;
        }
    }
}

.summary-content-box .content-view-message {
    @extend .prusans-medium;
    @extend .font-size-34;
    @extend .common-color-darkgray;
    padding: 15px 0;
}

.common-details-box .common-box-header {
    @extend .common-background-white;
    border-bottom: 1px solid #F5F5F5;
    padding: 15px 30px;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

.common-box-header.isCollapse {
    animation: bottomRadius5 0.3s;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}

.section-title {
    @extend .prusans-medium;
    @extend .common-color-red;
    @extend .common-background-whitesmoke;
    @extend .font-size-36;
    @media only screen and (max-width: 768px) {
        font-size: 0.85rem;
    }
    padding: 0.3rem 0 0.3rem 1.4rem;
    border-left: 2px solid #ED1B2E;
    margin-left: -1.5rem;
    width: 14.5rem;
    margin-bottom: 1rem;
}

.common-details-box .common-box-header h1 {
    @extend .prusans-demi;
    @extend .font-size-36;
    @extend .common-color-darkgray;
    @media only screen and (max-width: 768px) {
        font-size: 0.85rem;
    }
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
}

.common-details-box .common-box-header a {
    float: right;
    line-height: 1;
    img {
        width: 12px;
        transition: transform 0.3s linear;
    }
}

.common-details-box .common-box-header a.isCollapse img {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.common-details-box .common-box-header span:not(.glyphicon) {
    font-family: 'Roboto Slab', serif;
    font-size: 0.9rem;
    color: #000000;
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 48px;
    font-weight: bold;
}

.common-box-content .common-main-content {
    padding: 30px;
}

.common-main-content .common-content-title {
    @extend .heading-medium-light;
    margin-bottom: 30px;
}

@media only screen and (max-width:767px) {
    .summary-content-box {
        padding-top: 25px;
    }
}

label.view-form-title {
    @extend .font-size-34;
    @extend .common-color-blue;
    @extend .prusans-medium;
    font-weight: inherit;
    @media only screen and (max-width: 767px) {
        font-size: 0.75rem;
    }
}

p.view-form-input,
span.view-form-input {
    margin-bottom: 0;
    word-wrap: break-word;
    word-break: break-all;
    @extend .font-size-34;
    @extend .common-color-black;
    @extend .prusans-medium;
    @media only screen and (max-width: 767px) {
        font-size: 0.75rem;
    }
}

.content-form .static-label {
    @extend .font-size-34;
    @extend .prusans-medium;
    @extend .common-color-blue;
    @media only screen and (max-width: 767px) {
        font-size: 0.75rem;
    }
    display: block;
    font-weight: normal;
    line-height: 1.2;
}

.content-form .input-summary-style {
    @extend .prusans-medium;
    @extend .font-size-34;
    @extend .common-color-black;
    border: none;
    border-bottom: 2px solid #e4e4e4;
    border-radius: 0;
    box-shadow: none;
    padding-left: 0;
    font-weight: normal;
    @media only screen and (max-width: 767px) {
        font-size: 0.75rem;
    }
}

.content-form .medium-input-style {
    width: 70%;
}

.content-form .short-input-style {
    width: 40%;
}

.content-form .dropdown-input {
    border: none;
    border-bottom: 2px solid #e4e4e4;
    border-radius: 0;
    box-shadow: none;
    @extend .prusans-medium;
    @extend .font-size-34;
    @extend .common-color-black;
    width: 100%;
    padding-left: 0;
    padding-right: 0.75rem;
    background: url(assets/images/dropdown_arrow.png) no-repeat center right;
    background-size: 0.75rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: auto;
    @media #{$desktop-layout} {
      width: 50%;
    }
}

.common-box-content .field-support {
    @extend .prusans-book;
    @extend .font-size-28;
    @extend .common-color-blue;
    display: block;
    margin-top: 5px;
}

.error-msg {
    display: block;
    @extend .prusans-book;
    @extend .common-color-red;
    @extend .font-size-32;
}

/* static radio checkbox style */

.consent-checkbox label,
.login-radio .radio label,
.consent-radio .radio label {
    @extend .prusans-medium;
    @extend .font-size-34;
    @extend .common-color-black;
    display: inline-block;
    padding-left: 11px;
    position: relative;
    line-height: 20px;
}

.summary-content-box .radio input[type="radio"]:checked+label::after,
.summary-content-box .consent-checkbox label::before,
.summary-content-box .radio label::before,
.login-radio .radio input[type="radio"]:checked+label::after,
.login-radio .radio label::before,
.label-img-checked .img-square,
.label-img-checked .img-square-checked,
.label-img-checked {
    height: 20px;
    width: 20px;
}

.consent-checkbox input[type="checkbox"]:checked+label:after {
    content: "";
    background: url(assets/images/svg/check.svg) no-repeat center center;
    background-size: 70%;
}

.summary-content-box .radio input[type="radio"],
.login-radio .radio input[type="radio"],
.consent-checkbox input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    outline: none;
    width: 20px;
    height: 20px;
    margin-left: -20px;
    position: absolute;
    top: 0;
}

.consent-checkbox label::before,
.login-radio .radio label::before,
.summary-content-box .radio label::before {
    background-color: #ffffff;
    content: "";
    display: inline-block;
    height: 20px;
    left: 0;
    margin-left: -20px;
    position: absolute;
    width: 20px;
    outline: none;
    margin-top: 0;
    margin-right: 0;
    border: 2px solid #d7d7d7;
}

.login-radio .radio label::before,
.summary-content-box .radio label::before {
    z-index: 2;
    background-color: transparent;
    border-radius: 50%;
}

.consent-checkbox label::after,
.login-radio .radio label::after,
.summary-content-box .radio label::after {
    content: "";
    display: inline-block;
    height: 20px;
    margin-left: -20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
}

.summary-content-box .radio,
.login-radio .radio,
.consent-checkbox {
    display: block;
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.summary-content-box .consent-radio {
    overflow: hidden;
}

.login-radio label.radio-inline {
    float: left;
    width: 80%;
    padding-left: 0;
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}
.summary-content-box .consent-radio label.radio-inline {
    float: left;
    width: 20%;
    padding-left: 0;
    margin-left: 0;
}

.radio input[type="radio"]:checked+label {
    @extend .common-color-black;
    @extend .font-size-34;
    @extend .prusans-medium;
}

.radio input[type="radio"]:checked+label::after {
    @extend .common-background-red;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 5px solid #fff;
    z-index: 1;
}

/* static radio checkbox style */

.common-details-box .common-box-content .bottom-tip .field-support a.modal-link,
.common-details-box .common-box-content .bottom-tip .field-support a.modal-link:focus {
    text-decoration: underline;
    color: #949494;
    outline: none;
}

.summary-content-box .detail-submit-btn {
    @extend .secondary-button;
    @extend .font-size-36;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    min-width: 150px;
}

.cancel-text,
.cancel-text:focus,
.cancel-text:hover {
    @extend .prusans-book;
    @extend .font-size-26;
    @extend .common-color-blue;
    cursor: pointer;
    text-decoration: underline;
    outline: none;
}

.summary-content-box .retrieve-btn-active {
    display: block;
    width: 100%;
    @extend .font-size-34;
    @extend .primary-button;
    @extend .arrow-button;
    padding: 0.3rem 0;
    margin-top: -0.3rem;
    @media (max-width: 768px) {
        font-size: font-size-pt(30);
        margin-top: 0;
    }
}

.summary-content-box .retrieve-btn-active[disabled] {
    @extend .common-color-blue;
    border: 2px solid #eeeeee;
    background-color: #eeeeee;
    opacity: 1;
}

.summary-content-box .each-group,
.content-form .each-group .each-sub-group,
.summary-content-box .each-section {
    margin-bottom: 30px;
}

.content-form .each-group:last-of-type,
.content-form .each-group .form-group,
.content-form .each-group .each-sub-group:last-of-type,
.content-form .each-group .each-sub-group .form-group,
.summary-content-box .each-section:last-of-type {
    margin-bottom: 0;
}

.summary-content-box .bg-content {
    @extend .common-background-white;
    padding: 30px;
}

@media only screen and (max-width:767px) {
    .summary-content-box .common-box-header {
        padding: 10px 25px 10px 35px;
        font-size: 0.85rem;
    }
    .summary-content-box .btn-box {
        margin: 0 auto;
        margin-top: 40px;
        text-align: center;
        width: 95%;
    }
    .summary-content-box .detail-submit-btn {
        font-size: font-size-pt(32);
        min-width: 100%;
    }
    .consent-checkbox label,
    .consent-radio .radio label,
    .login-radio .radio label,
    .radio input[type="radio"]:checked+label {
        font-size: font-size-pt(30);
    }

    .login-radio label.radio-inline,
    .summary-content-box .consent-radio label.radio-inline {
        width: 50%;
    }
    .cancel-text,
    .cancel-text:focus,
    .cancel-text:hover {
        font-size: font-size-pt(28);
    }
    .content-form .each-group .form-group,
    .content-form .each-group .each-sub-group .form-group {
        margin-bottom: 30px;
    }
    .content-form .each-group .form-group:last-of-type,
    .content-form .each-group .each-sub-group:last-of-type {
        margin-bottom: 0;
    }
    .content-form .medium-input-style{
        width: 100%;
    }

}

@media only screen and (max-width:414px) {
    .summary-content-box .content-title-box {
        h3 {
            margin-top: 15px;
            margin-bottom: 20px;
        }
    }
    .summary-content-box .content-form .form-group {
        margin-bottom: 30px;
    }
}
