<div>
    <div ng-show="!vm.isEdit && vm.selectMode !== 'DETAIL'">
        <!--PD-1639: Pencil icons in editable fields on review summary-->
        <label class="view-form-title">Mobile Number&nbsp;&nbsp;&nbsp;
            <span id="txtNumberEdit" name="txtNumberEdit" ng-show="vm.selectMode !== 'EDIT' && !vm.loginStatus" ng-click="vm.isEditAction()"><img class="edit-pencil" ng-src="assets/images/svg/edit.svg"></span>
        </label>
        <p class="view-form-input">+{{vm.idd}}&nbsp;{{vm.number | mask:4}}</p>
    </div>
    <div ng-show="vm.isEdit || vm.selectMode === 'DETAIL'">
        <label class="static-label label-grey">Mobile Number</label>
        <span class="error-msg error" ng-show="vm.iddEmpty">Please select valid country code</span>
        <!-- <span class="error-msg error" ng-show="vm.idd && vm.aboutYouForm.idd.$invalid && vm.aboutYouForm.idd.$isOnBlur">Please enter a valid mobile number</span> -->
        <span class="error-msg error" ng-show="(!vm.idd && vm.aboutYouForm.idd.$isOnBlur) || (!vm.number && vm.aboutYouForm.number.$isOnBlur)">Please enter a valid mobile number</span>

        <div class="row">
            <!-- <div class="col-md-3 col-sm-3 col-xs-4">
                <input type="text" id="txtIdd" name="idd" class="form-control input-summary-style isBlurValidation" ng-model="vm.idd" idd-validation ng-change="vm.validateInput({type: 'idd', str: vm.idd});vm.iddChange()" required>
            </div> -->
            <div class="col-md-6 col-sm-6 col-xs-8">
                 <dropdown-box-with-search-pru edit-mode="false" static-drop-down="true"></dropdown-box-with-search-pru>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-8">
                <input type="text" id="txtNumber" name="number"
                       ng-blur="vm.validateInput({ type: 'mobile', str: vm.number , prerequisite: vm.idd})"
                       ng-change="vm.mobileValidError=false"
                       class="form-control input-summary-style isBlurValidation" ng-model="vm.number" placeholder="" phone-validation required>
            </div>
        </div>
    </div>
</div>
