<div>
    <!-- display mode for review summary -->
    <div ng-show="!vm.isEdit && vm.selectMode !== 'DETAIL'">
        <!--PD-1639: Pencil icons in editable fields on review summary-->
        <label class="view-form-title">Gender&nbsp;&nbsp;&nbsp;    
            <span id="genderEdit" name="genderEdit" ng-show="vm.selectMode !== 'EDIT' && !vm.loginStatus && vm.profile.type !== 'PM' && vm.profile.type !== 'PL' && vm.profile.type !== 'PC'" ng-click="vm.isEditAction()"><img class="edit-pencil" ng-src="assets/images/svg/edit.svg"></span>
        </label>
        <p class="view-form-input">{{vm.gender ? vm.gender === "M" ? "Male" : "Female" : ""}}</p>
    </div>
    <!-- edit mode for review summary -->
    <div ng-show="vm.isEdit || vm.selectMode === 'DETAIL'">
        <label class="static-label" for="gender">Gender
        </label>
        <span class="error-msg" ng-show="!vm.gender && vm.isOnBlur">This is a required field</span>
        <select id="txtGender" name="gender" class="form-control dropdown-input input-summary-style isBlurValidation edit-review medium-input-style" ng-model="vm.gender" ng-options="k as v for (k, v) in vm.dropDownList" required ng-show="vm.isEdit" ng-blur="vm.selectBlur()"></select>
    </div>
</div>
