<div class="upload-box details-common" ng-class="{'common-details-box':vm.summaryStep ==='DETAIL'}">
    <div class="common-box-header" ng-class="{'isCollapse':vm.isCollapsed}" ng-show="vm.summaryStep !=='EDIT'">
        <div class="row">
            <div class="col-xs-10">
                <h1>Upload your documents</h1>
            </div>
            <div class="col-xs-2" ng-show="vm.summaryStep ==='EDIT' || vm.summaryStep ==='DETAIL'">
                <a ng-class="{'isCollapse':vm.isCollapsed}" id="uploadDocCommonHide" name="uploadDocCommonHide" href="#" ng-click="vm.isCollapsed = !vm.isCollapsed">
                    <span class="pull-right collapse-icon glyphicon"
                        ng-class="{'glyphicon-chevron-up': !vm.isCollapsed, 'glyphicon-chevron-down': vm.isCollapsed}"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="common-box-content uploadsection" uib-collapse="vm.isCollapsed" ng-show="vm.summaryStep ==='EDIT' || vm.summaryStep ==='DETAIL'">
        <div ng-class="{'common-main-content':vm.summaryStep ==='DETAIL', 'combine-padding':vm.summaryStep ==='EDIT'}">
            <div class="common-sub-box">
                <div class="upload-tool-tip" ng-if="vm.isV2UX">
                    <p class="tip-header">Document Requirements</p>
                    <div class="row">
                        <div class="col-xs-2 selfie-image">
                            <img ng-src="assets/images/selfie-image.png">
                        </div>
                        <div class="col-md-3 col-xs-5 bordered-right">
                            <p class="grey-text">Accepted file formats</p>
                            <p class="bold-text">PNG, GIF, JPG</p>
                        </div>
                        <div class="col-md-3 col-xs-5">
                            <p class="grey-text">Maximum file size</p>
                            <p class="bold-text">4MB</p>
                        </div>
                    </div>
                    <br/>
                    <p class="grey-text" ng-show="!vm.existingCustomer && vm.residencyCode !== 3">For Selfie with front of NRIC</p>
                    <p class="grey-text" ng-show="!vm.existingCustomer && vm.residencyCode === 3">For Selfie with Front of employment / dependent pass</p>

                    <p class="bold-text" ng-show='!vm.existingCustomer && vm.residencyCode !== 3'>To verify your NRIC, please ensure the following is captured:</p>
                    <p class="bold-text" ng-show='!vm.existingCustomer && vm.residencyCode === 3 && !vm.showProofOfAddress'>To verify your Employment / Dependent pass, please ensure the following is captured:</p>
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="list-entry" ng-if='!vm.existingCustomer && vm.residencyCode !== 3'>
                                <li>Take a photo of your fullface while holding the front of your NRIC card. Make sure that the photo on your NRIC is also visible.</li>
                                <li>Ensure that facial features and NRIC are clearly evident in the photo.</li>
                                <li>Photograph must be taken within the last 3 months</li>
                                <li>No alternation, removal, amendment or enhancement of the photo image (this includes removal or addition of birth marks or tattoos).</li>
                                <li>Headgear worn in accordance with religious or racial custom is acceptable as long as it does not hide the facial features.</li>
                            </ul>
                            <ul class="list-entry" ng-if='!vm.existingCustomer && vm.residencyCode === 3'>
                              <div ng-if="!vm.showProofOfAddress">
                                <li>Take a photo of your fullface while holding the front of your Employment / Dependent pass. Make sure that the photo on your Employment / Dependent pass is also visible.</li>
                                <li>Ensure that facial features and Employment / Dependent pass are clearly evident in the photo.</li>
                                <li>Photograph must be taken within the last 3 months</li>
                                <li>No alternation, removal, amendment or enhancement of the photo image (this includes removal or addition of birth marks or tattoos).</li>
                                <li>Headgear worn in accordance with religious or racial custom is acceptable as long as it does not hide the facial features.</li>
                              </div>
                            </ul>
                        </div>
                    </div>
                    <div ng-if="vm.mandatoryUpload || (vm.reqType !== 'PS' && vm.residencyCode === 3 && ((vm.existingCustomer && vm.showProofOfAddress) || !vm.existingCustomer))">
                      <div ng-if="vm.showProofOfAddress">
                        <p class="bold-text">To verify your Proof of Address, please ensure the following is captured:</p>
                        <p class="bold-text">Acceptable Proof of Address</p>
                        <div class="row">
                          <div class="col-xs-12">
                            <ul class="list-entry">
                              <li>State Issued Documents</li>
                              <li>Bank Statements</li>
                              <li>Utility/Telco Bills</li>
                            </ul>
                            <p class="notes">Please ensure the letterhead, name of customer, and date of document (must be within 12 months) is clearly shown.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <p class="title-box">
                    Drag-and-drop or tap each document to browse
                </p>
                <!-- <img id=="uploadTooltip" class="tip-img" ng-src="assets/images/tooltip.png" ng-click="vm.openUploadTooltip=true" ng-if="vm.isV2UX" /> -->
                <!-- <dialog for="uploadTooltip" ng-if="vm.openUploadTooltip" align="top" close="vm.openUploadTooltip=false" close-action="esc outerchick" class="upload-dialog custom-dialog hidden-xs">
                    <div dialog-content class="upload-tool-tip">
                        <p class="tip-header">Document Requirements</p>
                        <div class="row">
                            <div class="col-xs-2 selfie-image">
                                <img ng-src="assets/images/selfie-image.png">
                            </div>
                            <div class="col-xs-5 bordered-right">
                                <p class="grey-text">Accepted file formats</p>
                                <p class="bold-text">PNG, GIF, JPG</p>
                            </div>
                            <div class="col-xs-5">
                                <p class="grey-text">Maximum file size</p>
                                <p class="bold-text">4MB</p>
                            </div>
                        </div>
                        <br/>
                        <p class="grey-text">For Selfie with front of NRIC</p>
                        <p class="bold-text">To verify your NRIC, please ensure the following is captured:</p>
                        <div class="row">
                            <div class="col-xs-12">
                                <ul class="list-entry">
                                    <li>Take a photo of your fullface while holding the front of your NRIC card. Make sure that the photo on your NRIC is also visible.</li>
                                    <li>Ensure that facial features and NRIC are clearly evident in the photo.</li>
                                    <li>Photograph must be taken within the last 3 months</li>
                                    <li>No alternation, removal, amendment or enhancement of the photo image (this includes removal or addition of birth marks or tattoos).</li>
                                    <li>Headgear worn in accordance with religious or racial custom is acceptable as long as it does not hide the facial features.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </dialog>            -->
                <!-- error message -->
                <div class="upload-error-box" id="upload-error-box">
                    <p class="error-msg" ng-show="vm.uploadFailed && vm.uploader.queue.length < 1">Please upload the photos</p>
                    <p class="error-msg" ng-show="vm.uploadError">Sorry! File upload has failed. We only accept .png, .gif and .jpg file formats with maximum size of 4MB per file.</p>
                    <p class="error-msg" ng-show="vm.uploadFailed && vm.uploader.queue.length < vm.itemList.length && vm.uploader.queue.length >0">Please upload all the required photos</p>
                </div>
                <!-- upload list -->
                <div class="upload-list-box" ng-repeat="item in vm.itemList track by $index">
                    <div ng-show="!item.currentImage" class="media file-area" ng-click="vm.uploadImage(item,$index)">
                        <input ng-disabled="vm.disableUpload" type="file" id="chooseImg" name="chooseImg" title="chooseImg" style="cursor: default;" nv-file-over="" nv-file-drop="" nv-file-select="" ng-model="vm.imageInString" uploader="vm.uploader" value="Browse" required="required"
                            multiple/>
                        <div class="media-left media-middle">
                            <div class="circle" style="cursor: default;">
                                <span style="cursor: pointer;">
                                    <img ng-src="assets/images/uploadArrowUp.png" ng-if="!vm.isV2UX && !vm.isV2UXColorOnly">
                                    <span class="glyphicon glyphicon-upload" ng-if="vm.isV2UX || vm.isV2UXColorOnly"></span>
                                    <input ondrop="dropHandler(id)" ng-disabled="vm.disableUpload" style="cursor: pointer;" type="file" id="{{item.id}}" name="{{item.id}}" title="{{item.id}}" nv-file-over="" nv-file-drop="" nv-file-select="" ng-model="vm.imageInString" uploader="vm.uploader"
                                        value="Browse" required="required" multiple/>
                                </span>
                            </div>
                        </div>
                        <div class="media-body media-middle">
                            <div class="item-name vertical-middle">{{item.name}}</div>
                        </div>
                    </div>
                    <div ng-if="item.currentImage">
                        <div class="media-left media-middle">
                            <upload-progressbar current="item.currentPercent" ng-if="item.currentPercent < 100"></upload-progressbar>
                            <div class="circle-red" ng-if="item.currentPercent >= 100 && !vm.isV2UX && !vm.isV2UXColorOnly">
                                <img class="circle-check" ng-src="assets/images/svg/check.svg">
                            </div>
                            <span class="document-tick" ng-if="item.currentPercent >= 100 && (vm.isV2UX || vm.isV2UXColorOnly)"></span>
                        </div>
                        <div class="media-body media-middle">
                            <div class="item-name">{{item.subName}}</div>
                            <div class="item-file-name">{{ item.imageName }}</div>
                        </div>
                        <div class="media-body text-right" ng-click="deleteImage(item,$index)">
                            <img ng-if="item.currentPercent >= 100" ng-src="assets/images/cross.png" />
                        </div>
                    </div>
                </div>
                <!-- upload warning -->
                <div class="upload-desc-box" ng-if="!vm.isV2UX" >
                    <span class="tip-triangle"></span>
                    <div class="desc-title">
                        <p>Accepted file formats: PNG, GIF, JPG</p>
                        <p>Maximum file size: 4MB</p>
                        <p ng-show="!vm.existingCustomer && vm.residencyCode !== 3">For selfie with Front of NRIC:</p>
                        <p ng-show="!vm.existingCustomer && vm.residencyCode === 3">For selfie with Front of employment / dependent pass:</p>
                        <div class="row" ng-show="!vm.existingCustomer">
                            <div class="col-xs-8">
                                <ul>
                                    <li>Subject is framed full face, front view with eyes open. (Use the zoom or macro feature zoom in on the subject if necessary).</li>
                                    <li>Ensure that facial features and NRIC are clearly evident in the photo.</li>
                                    <li>Taken within the last 3 months</li>
                                    <li>No alternation, removal, amendment or enhancement of the photo image is performed. This includes removal or addition of birth marks, moles or tattoos.</li>
                                    <li>Headgear worn in accordance with religious or racial custom is acceptable as long as it does not hide the facial features.</li>
                                </ul>
                            </div>
                            <div class="col-xs-4 selfie-image">
                                <img ng-src="assets/images/selfie-image.png">
                            </div>
                        </div>
                    </div>
                    <div class="desc-title" ng-if="vm.mandatoryUpload || (vm.reqType !== 'PS' && vm.residencyCode === 3 && ((vm.existingCustomer && vm.showProofOfAddress) || !vm.existingCustomer))">
                        <p class="bold-text">To verify your Proof of Address, please ensure the following is captured:</p>
                        <p class="bold-text">Acceptable Proof of Address</p>
                        <div class="row">
                            <div class="col-xs-12">
                                <ul class="list-entry">
                                    <li>State Issued Documents</li>
                                    <li>Bank Statements</li>
                                    <li>Utility/Telco Bills</li>
                                </ul>
                                <p class="notes">Please ensure the letterhead, name of customer, and date of document (must be within 12 months) is clearly shown.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-box text-right" ng-show="vm.summaryStep ==='DETAIL' && !vm.isCollapsed">
        <button id="btnNextToReview" name="btnNextToReview" title="btnNextToReview" class="btn detail-submit-btn" ng-disabled="$root.nextDisable" ng-click="vm.continue() ">NEXT</button>
    </div>
</div>
