.default {
    .no-margin {
        margin-left: 0;
        margin-right: 0;
    }
}

health-review {
    .common-box-content {
        .questions-container {
            ul {
                margin-top: 10px;
                margin-bottom: 10px;
                padding-left: 10px;
                li {
                    text-indent: -5px;
                }
                li:before {
                    content: "- ";
                    display: inline-block;
                    text-indent: -5px;
                    margin-right: 5px;
                }
            }
        }
    }
}
