<div id="{{vm.profile.type}}-health-review">
    <div class="about-you review-summary">
        <div class="common-box-content">
            <div class="section-title">
                <span ng-hide="vm.reqType === 'PC' || vm.reqType === 'PAT'">Health and Lifestyle</span>
                <span ng-show="vm.reqType === 'PC' || vm.reqType === 'PAT'">Your Health</span>
                <a class="pull-right edit-section-link" ng-click="vm.editSection()" ng-if="vm.isV2UX">EDIT</a>
            </div>
            <div class="common-sub-box">
                <form class="content-form" name="healthForm" novalidate>
                    <div class="each-group">
                        <questions-shield ng-if="vm.reqType === 'PS'"
                            questionnaire-json="vm.healthQ" 
                            questionnaire-cat="vm.questionRequest.cat" 
                            check-if-kickout="vm.checkIfKickout(qCode)"
                            summary-step="vm.summaryStep"
                            edit-mode="vm.summaryStep == 'EDIT' || vm.summaryStep == 'DETAIL'">
                        </questions-shield>                        
                        <questions-pru ng-if="vm.reqType !== 'PS'" 
                            questionnaire-json="vm.allQuestionaire"
                            questionnaire-cat="vm.questionCat" 
                            check-if-kickout="vm.checkIfKickout(qCode)" 
                            edit-mode="vm.summaryStep == 'EDIT'">
                        </questions-pru>
                    </div>
                    <div class="row each-group heightandweight" ng-if="vm.reqType !== 'PC' && vm.reqType !== 'PAT' && !vm.healthSectionSIO">
                        <div class="col-xs-12 col-sm-6 form-group">
                            <input-review about-you-form="healthForm" input-value="vm.healthDetails.height" input-details="vm.inputHeight">
                            </input-review>
                        </div>
                        <div class="col-xs-12 col-sm-6 form-group">
                            <input-review about-you-form="healthForm" input-value="vm.healthDetails.weight" input-details="vm.inputWeight">
                            </input-review>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
