<div class="address-edit-review">
    <!--for guest only: selectMode: 'DETAIL'-->
    <div ng-if="vm.selectMode=='DETAIL'">
    </div>
    <!--for login user: selectMode: 'EDIT'-->
    <div ng-if="vm.selectMode=='EDIT'">
    </div>
    <!--for review-edit: selectMode: 'REVIEW'-->
    <div ng-if="vm.selectMode=='REVIEW'">
        <div class="each-sub-group" ng-if="!vm.canEdit">
            <!--for all new customer and for existing customer in case residentail address change question is not applicable-->
            <label class="view-form-title">{{vm.addressData.labelName}}</label> &nbsp;&nbsp;&nbsp;
            <span id="{{vm.addressData.addrType}}-edit" name="{{vm.addressData.addrType}}-edit" ng-click="vm.isEditAction()" ng-show="vm.addressData.addrType==='residential' && !vm.canEdit && !vm.questionPresent">
                <img class="edit-pencil" ng-if="vm.allowEdit" ng-src="assets/images/svg/edit.svg">
            </span>
            <span id="{{vm.addressData.addrType}}-edit" name="{{vm.addressData.addrType}}-edit" ng-click="vm.isEditAction()"
                ng-show="vm.addressData.addrType ==='mailing' && !vm.canEdit && !vm.loginStatus">
                <img class="edit-pencil" ng-if="vm.allowEdit" ng-src="assets/images/svg/edit.svg">
            </span>
            <!--for mailing address-->
            <div ng-if="vm.addressData.addrType=='mailing'" ng-show="!vm.canEdit">
                <p class="view-form-input">{{vm.isMailingAddress == 'true'? 'Yes' : 'No'}}</p>
                <p class="view-form-input" ng-if="vm.isMailingAddress !== 'true'">{{vm.blockNo}}&nbsp;&nbsp;{{vm.streetName}}</p>
                <p class="view-form-input" ng-if="vm.isMailingAddress !== 'true' && vm.isSingapore">{{vm.unitNo}}&nbsp;&nbsp;{{vm.buildingName}}</p>
                <!--PD-1665: change the display order for foreign address-->
                <p class="view-form-input" ng-if="vm.isMailingAddress !== 'true' && !vm.isSingapore">{{vm.buildingName}}&nbsp;&nbsp;{{vm.unitNo}}</p>
                <p class="view-form-input" ng-if="vm.isMailingAddress !== 'true'">{{vm.countryName.option}}&nbsp;,&nbsp;{{vm.postalCode}}</p>
                <span class="field-support">{{vm.addressData.warningMsg}}</span>
            </div>
            <!--for residential address-->
            <div ng-if="vm.addressData.addrType==='residential'" ng-show="!vm.canEdit">
                <p class="view-form-input" ng-if="vm.blockNo && vm.blockNo.length > 4">{{(vm.blockNo + ' ' + vm.streetName) | mask:-4}} </p>
                <p class="view-form-input" ng-if="vm.blockNo && vm.blockNo.length <= 4">{{vm.blockNo}}&nbsp;{{vm.streetName | mask:(vm.blockNo.length - 4)}} </p>
                <p class="view-form-input" ng-if="!vm.blockNo">{{vm.streetName}}</p>
                <p class="view-form-input" ng-if="(vm.unitNo || vm.buildingName) && !vm.loginStatus">{{(vm.unitNo + ' ' + vm.buildingName) | mask}}</p>
                <p class="view-form-input">{{vm.postalCode | mask:4}}</p>
                <span class="field-support">{{vm.addressData.warningMsg}}</span>
            </div>
        </div>
        <div ng-if="vm.canEdit">
            <!--for mailing address-->
            <div class="each-sub-group" ng-if="vm.addressData.addrType=='mailing'">
                <label class="view-form-title">{{vm.addressData.labelName}}</label>
                <div class="consent-radio">
                    <label class="radio-inline">
                        <div class="radio">
                            <input type="radio" name="isMailingAddress" id="isMailingAddress" title="isMailingAddress" value="true" ng-model="vm.isMailingAddress"
                                required ng-change="vm.changeIsMailing()" ng-click="vm.setUploadList()">
                            <label for="isMailingAddress"> Yes</label>
                        </div>
                    </label>
                    <label class="radio-inline">
                        <div class="radio">
                            <input type="radio" name="isMailingAddress" id="isNotMailingAddress" title="isNotMailingAddress" value="false" ng-model="vm.isMailingAddress"
                                required ng-change="vm.changeIsMailing()" ng-click="vm.setUploadList();">
                            <label for="isNotMailingAddress"> No</label>
                        </div>
                    </label>
                </div>
            </div>
            <!--for residential address and when select "no" for mailing address-->
            <!--Singapore Address-->

            <div ng-if="(((vm.addressData.addrType==='residential' && !vm.changeResidentialAddress) || (vm.addressData.addrType==='mailing' && vm.isMailingAddress == 'false')) && vm.isSingapore)">
                <!--validation message for postcode-->
                <!--postcode-->
                <div class="row each-sub-group">
                    <div class="col-xs-12">
                        <label class="view-form-title">{{vm.addressData.postalCode.label}}</label>
                        <span class="error-msg" ng-show="vm.postalCode && vm.currentForm.{{vm.addressData.postalCode.id}}.$invalid && vm.currentForm.{{vm.addressData.postalCode.id}}.$isOnBlur">Please enter a valid postal code</span>
                        <span class="error-msg" ng-show="!vm.postalCode && vm.currentForm.{{vm.addressData.postalCode.id}}.$invalid && vm.currentForm.{{vm.addressData.postalCode.id}}.$isOnBlur">Please enter a valid postal code</span>
                    </div>
                    <div class="col-sm-6 col-xs-4">
                        <input type="text" id="{{vm.addressData.postalCode.id}}" name="{{vm.addressData.postalCode.id}}" title="{{vm.addressData.postalCode.id}}"
                            class="form-control input-summary-style isBlurValidation" ng-model="vm.postalCode" required ng-blur="vm.setMailingAddress({type: vm.addressData.addrType})"
                            only-number maxlength="6">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
                        <button id="retrieveResidentialAddress" name="retrieveResidentialAddress" title="retrieveResidentialAddress" class=" retrieve-btn-active"
                            ng-disabled="!vm.postalCode" ng-click="vm.generateAddress(vm.addressData.addrType, vm.postalCode)">Retrieve address</button>
                    </div>
                    <!--warning message-->
                    <span ng-if="vm.addressData.addrType=='residential'" class="field-support">{{vm.addressData.warningMsg}}</span>
                </div>

                <!--building & unit No error message-->
                <div class="row each-sub-group">
                    <div class="col-sm-6 col-xs-12">
                        <label class="static-label label-grey focus error" for="residentialBuilding">{{vm.addressData.blockNo.label}}</label>
                        <span class="error-msg" ng-show="!vm.blockNo && vm.currentForm.{{vm.addressData.blockNo.id}}.$invalid && vm.currentForm.{{vm.addressData.blockNo.id}}.$isOnBlur">Please enter a valid block no</span>
                        <input type="text" id="{{vm.addressData.blockNo.id}}" name="{{vm.addressData.blockNo.id}}" title="{{vm.addressData.blockNo.id}}"
                            class="form-control input-summary-style isBlurValidation" ng-model="vm.blockNo" required ng-blur="vm.setMailingAddress({type: vm.addressData.addrType})" ng-trim=false ng-pattern="/^(['&quot;+a-zA-Z0-9()#.@,%&/-])+(\s['&quot;+a-zA-Z0-9()#.@,%&/-]+)*['&quot;+a-zA-Z0-9()#.@,%&/-\s]{0,1}$/">
                    </div>
                </div>
                <!--street-->
                <div class="row each-sub-group">
                    <div class="col-xs-12">
                        <label class="static-label label-grey focus error" for="residentialUnitNo">{{vm.addressData.street.label}}</label>
                        <span class="error-msg" ng-show="vm.streetName && vm.currentForm.{{vm.addressData.street.id}}.$invalid && vm.currentForm.{{vm.addressData.street.id}}.$isOnBlur">Please enter a valid street</span>
                        <span class="error-msg" ng-show="!vm.streetName && vm.currentForm.{{vm.addressData.street.id}}.$invalid && vm.currentForm.{{vm.addressData.street.id}}.$isOnBlur">Please enter a valid street</span>
                        <input type="text" class="form-control input-summary-style isBlurValidation" id="{{vm.addressData.street.id}}" name="{{vm.addressData.street.id}}"
                            title="{{vm.addressData.street.id}}" ng-model="vm.streetName" required ng-blur="vm.setMailingAddress({type: vm.addressData.addrType})" ng-trim=false ng-pattern="/^(['&quot;+a-zA-Z0-9()#.@,%&/-])+(\s['&quot;+a-zA-Z0-9()#.@,%&/-]+)*['&quot;+a-zA-Z0-9()#.@,%&/-\s]{0,1}$/">
                    </div>
                </div>
                <!--building & unit No-->
                <div class="row each-sub-group">
                    <div class="col-md-7 col-sm-6 col-xs-12 form-group">
                        <label class="static-label" for="residentialBuilding">{{vm.addressData.building.label}}</label>
                        <span class="error-msg" ng-show="vm.currentForm.{{vm.addressData.building.id}}.$invalid && vm.currentForm.{{vm.addressData.building.id}}.$isOnBlur">Please enter a valid building name</span>
                        <!--<span class="error-msg" ng-show="!vm.buildingName && vm.currentForm.{{vm.addressData.building.id}}.$invalid && vm.currentForm.{{vm.addressData.building.id}}.$isOnBlur">This is a required field</span>-->
                        <input type="text" class="form-control input-summary-style isBlurValidation" id="{{vm.addressData.building.id}}" name="{{vm.addressData.building.id}}"
                            title="{{vm.addressData.building.id}}" ng-model="vm.buildingName" ng-blur="vm.setMailingAddress({type: vm.addressData.addrType})" ng-trim=false ng-pattern="/^(['&quot;+a-zA-Z0-9()#.@,%&/-])+(\s['&quot;+a-zA-Z0-9()#.@,%&/-]+)*['&quot;+a-zA-Z0-9()#.@,%&/-\s]{0,1}$/">
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-12 form-group">
                        <label class="static-label label-grey focus error" for="residentialUnitNo">{{vm.addressData.unitNo.label}}</label>
                        <span class="error-msg" ng-show="!vm.unitNo && vm.currentForm.{{vm.addressData.unitNo.id}}.$invalid && vm.currentForm.{{vm.addressData.unitNo.id}}.$isOnBlur">Please enter a valid unit no</span>
                        <input type="text" class="form-control input-summary-style isBlurValidation" id="{{vm.addressData.unitNo.id}}" name="{{vm.addressData.unitNo.id}}"
                            title="{{vm.addressData.unitNo.id}}" ng-model="vm.unitNo" ng-blur="vm.setMailingAddress({type: vm.addressData.addrType})"
                            ng-required="vm.addressData.addrType==='mailing' || ((vm.addressType == 'H' || vm.addressType == 'C') && vm.addressData.addrType==='residential')" ng-trim=false ng-pattern="/^(['&quot;+a-zA-Z0-9()#.@,%&/-])+(\s['&quot;+a-zA-Z0-9()#.@,%&/-]+)*['&quot;+a-zA-Z0-9()#.@,%&/-\s]{0,1}$/">
                    </div>
                </div>
                <!--country-->
                <div class="row each-sub-group" ng-if="vm.addressData.addrType=='mailing'">
                    <div class="col-xs-12 form-group">
                        <label class="static-label" for="mailingCountry">Mailing Country</label>
                        <span class="error-msg" ng-show="!vm.countryName && vm.currentForm.mailingCountry.$isOnBlur">Please enter a valid mailing country</span>
                        <select id="mailingCountry" name="mailingCountry" class="form-control dropdown-input input-summary-style isBlurValidation edit-review"
                            ng-model="vm.countryName" ng-options="e.option for e in vm.addressData.country.list track by e.value"
                            required ng-change="vm.mailCountryChange()"></select>
                        <span class="field-support">{{vm.addressData.warningMsg}}</span>
                    </div>
                </div>
            </div>
            <!--Foreign Address-->
            <div ng-if="((vm.addressData.addrType==='residential' && !vm.changeResidentialAddress || (vm.addressData.addrType==='mailing' && vm.isMailingAddress == 'false')) && !vm.isSingapore)">
                <!--post code-->
                <div class="row each-sub-group">
                    <div class="col-md-7 col-sm-6 col-xs-12 form-group">
                        <label class="static-label label-grey focus error" for="{{vm.addressData.postalCode.id}}">{{vm.addressData.postalCode.labelForeign}}</label>
                        <span class="error-msg" ng-show="vm.postalCode && vm.currentForm.{{vm.addressData.postalCode.id}}.$invalid && vm.currentForm.{{vm.addressData.postalCode.id}}.$isOnBlur">Please enter a valid postal code</span>
                        <span class="error-msg" ng-show="!vm.postalCode && vm.currentForm.{{vm.addressData.postalCode.id}}.$invalid && vm.currentForm.{{vm.addressData.postalCode.id}}.$isOnBlur">Please enter a valid postal code</span>
                        <input type="text" class="form-control input-summary-style isBlurValidation" id="{{vm.addressData.postalCode.id}}" name="{{vm.addressData.postalCode.id}}"
                            title="{{vm.addressData.postalCode.id}}" ng-model="vm.postalCode" required ng-blur="vm.setMailingAddress({type: vm.addressData.addrType})"
                            only-number maxlength="6">
                    </div>
                </div>
                <!--block house number-->
                <div class="row each-sub-group">
                    <div class="col-sm-6 col-xs-12">
                        <label class="static-label label-grey focus error" for="residentialBuilding">{{vm.addressData.blockNo.labelForeign}}</label>
                        <span class="error-msg" ng-show="!vm.blockNo && vm.currentForm.{{vm.addressData.blockNo.id}}.$invalid && vm.currentForm.{{vm.addressData.blockNo.id}}.$isOnBlur">Please enter a valid block no</span>
                        <input type="text" id="{{vm.addressData.blockNo.id}}" name="{{vm.addressData.blockNo.id}}" title="{{vm.addressData.blockNo.id}}"
                            class="form-control input-summary-style isBlurValidation" ng-model="vm.blockNo" required ng-blur="vm.setMailingAddress({type: vm.addressData.addrType})" ng-trim=false ng-pattern="/^(['&quot;+a-zA-Z0-9()#.@,%&/-])+(\s['&quot;+a-zA-Z0-9()#.@,%&/-]+)*['&quot;+a-zA-Z0-9()#.@,%&/-\s]{0,1}$/">
                    </div>
                </div>
                <!--Street-->
                <div class="row each-sub-group">
                    <div class="col-xs-12">
                        <label class="static-label label-grey focus error" for="{{vm.addressData.street.id}}">{{vm.addressData.street.labelForeign}}</label>
                        <span class="error-msg" ng-show="!vm.streetName && vm.currentForm.{{vm.addressData.street.id}}.$invalid && vm.currentForm.{{vm.addressData.street.id}}.$isOnBlur">Please enter a valid street</span>
                        <input type="text" id="{{vm.addressData.street.id}}" name="{{vm.addressData.street.id}}" title="{{vm.addressData.street.id}}"
                            class="form-control input-summary-style isBlurValidation" ng-model="vm.streetName" required ng-blur="vm.setMailingAddress({type: vm.addressData.addrType})" ng-trim=false ng-pattern="/^(['&quot;+a-zA-Z0-9()#.@,%&/-])+(\s['&quot;+a-zA-Z0-9()#.@,%&/-]+)*['&quot;+a-zA-Z0-9()#.@,%&/-\s]{0,1}$/">
                    </div>
                </div>
                <!--building & State/City-->
                <div class="row each-sub-group">
                    <div class="col-md-7 col-sm-6 col-xs-12 form-group">
                        <label class="static-label label-grey focus error" for="residentialBuilding">{{vm.addressData.building.labelForeign}}</label>
                        <!--<span class="error-msg" ng-show="!vm.buildingName && vm.currentForm.{{vm.addressData.building.id}}.$invalid && vm.currentForm.{{vm.addressData.building.id}}.$isOnBlur">This is a required field</span>-->
                        <input type="text" class="form-control input-summary-style isBlurValidation" id="{{vm.addressData.building.id}}" name="{{vm.addressData.building.id}}"
                            title="{{vm.addressData.building.id}}" ng-model="vm.buildingName" ng-blur="vm.setMailingAddress({type: vm.addressData.addrType})" ng-trim=false ng-pattern="/^(['&quot;+a-zA-Z0-9()#.@,%&/-])+(\s['&quot;+a-zA-Z0-9()#.@,%&/-]+)*['&quot;+a-zA-Z0-9()#.@,%&/-\s]{0,1}$/">
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-12 form-group">
                        <label class="static-label label-grey focus error" for="residentialUnitNo">{{vm.addressData.unitNo.labelForeign}}</label>
                        <span class="error-msg" ng-show="!vm.unitNo && vm.currentForm.{{vm.addressData.unitNo.id}}.$invalid && vm.currentForm.{{vm.addressData.unitNo.id}}.$isOnBlur">Please enter a valid unit no</span>
                        <input type="text" class="form-control input-summary-style isBlurValidation" id="{{vm.addressData.unitNo.id}}" name="{{vm.addressData.unitNo.id}}"
                            title="{{vm.addressData.unitNo.id}}" ng-model="vm.unitNo" ng-blur="vm.setMailingAddress({type: vm.addressData.addrType})"
                            ng-required="vm.addressData.addrType==='mailing' || ((vm.addressType == 'H' || vm.addressType == 'C') && vm.addressData.addrType==='residential')" ng-trim=false ng-pattern="/^(['&quot;+a-zA-Z0-9()#.@,%&/-])+(\s['&quot;+a-zA-Z0-9()#.@,%&/-]+)*['&quot;+a-zA-Z0-9()#.@,%&/-\s]{0,1}$/">
                    </div>
                </div>
                <!--country-->
                <div class="row each-sub-group" ng-if="vm.addressData.addrType=='mailing'">
                    <div class="col-xs-12 mailing-country">
                        <label class="static-label" for="mailingCountry">Mailing Country</label>
                        <span class="error-msg" ng-show="!vm.countryName && vm.currentForm.mailingCountry.$isOnBlur">Please enter a valid mailing country</span>
                        <select id="mailingCountry" name="mailingCountry" class="form-control dropdown-input input-summary-style isBlurValidation edit-review"
                            ng-model="vm.countryName" ng-options="e.option for e in vm.addressData.country.list track by e.value"
                            required ng-change="vm.mailCountryChange()"></select>
                        <span class="field-support">{{vm.addressData.warningMsg}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
