.select-edit-review {
    .text-for-edit {
        float: right;
        font-size: 0.7rem !important;
        font-weight: normal !important;
        color: #636363;
    }
    .edit-review {
        margin-top: 0px !important;
    }
    .edit-status {
        border-bottom: dashed;
        border-color: #949494;
    }
}