<div class="select-edit-review form-group">
    <!--for guest only: selectMode: 'DETAIL'-->
    <div ng-if="vm.selectMode=='DETAIL'">
        <label class="view-form-title" ng-bind-html="vm.labelName"></label>
        <span class="error-msg" ng-show="!vm.residencyStatus && moreAboutYouForm.residencyStatus.$isOnBlur">This is a required field</span>
        <select ng-if="vm.dropDownKey" id="vm.fieldName" name="vm.fieldName" class="form-control dropdown-input input-line-style isBlurValidation" ng-model="vm.currentValue" ng-options=ng-options="e.{{vm.dropDownKey[0]}} for e in vm.dropDownList track by e.{{vm.dropDownKey[1]}}"
            required></select>
        <select ng-if="!vm.dropDownKey" id="vm.fieldName" name="vm.fieldName" class="form-control dropdown-input input-line-style isBlurValidation" ng-model="vm.currentValue" ng-options="option for option in vm.dropDownList" required></select>
    </div>

    <!--for login user: selectMode: 'EDIT'-->
    <div ng-if="vm.selectMode=='EDIT'">
        <label class="view-form-title" ng-bind-html="vm.labelName"></label>
        <p class="view-form-input">{{vm.currentValueDesc}}</p>
    </div>

    <!--for review-edit: selectMode: 'REVIEW'-->
    <div ng-if="vm.selectMode=='REVIEW'">
        <!--PD-1639: Pencil icons in editable fields on review summary-->
        <label class="view-form-title" ng-bind-html="vm.labelName"></label> &nbsp;&nbsp;&nbsp;
        <span ng-click="vm.isEditAction()" ng-show="!vm.canEdit"><img class="edit-pencil" ng-src="assets/images/svg/edit.svg"></span>
        <p class="view-form-input" ng-show="!vm.canEdit">{{vm.currentValueDesc}}</p>
        <!--error message-->
        <span class="error-msg" ng-show="vm.currentValue && vm.currentForm.{{vm.fieldName}}.$invalid && vm.isOnBlur">Error! This is an invalid answer</span>
        <span class="error-msg" ng-show="!vm.currentValue && vm.isOnBlur">This is a required field</span>
        <select ng-if="vm.dropDownKey" id="vm.fieldName" name="vm.fieldName" class="form-control dropdown-input input-line-style isBlurValidation edit-review" ng-model="vm.currentValue" ng-options="e.{{vm.dropDownKey[0]}} for e in vm.dropDownList track by e.{{vm.dropDownKey[1]}}"
            required ng-show="vm.canEdit==true" ng-blur="vm.selectBlur()" ng-init=""></select>
        <select ng-if="!vm.dropDownKey" id="vm.fieldName" name="vm.fieldName" class="form-control dropdown-input input-line-style isBlurValidation edit-review" ng-model="vm.currentValue" ng-options="option for option in vm.dropDownList" required ng-show="vm.canEdit==true"
            ng-blur="vm.selectBlur()"></select>
    </div>
</div>