<div class="whatyoubuy-box details-common">
    <div class="common-box-header" ng-class="{'isCollapse':vm.isCollapsed}">
        <div class="row">
            <div class="col-xs-10">
                <h1>What you are buying</h1>
            </div>
            <div class="col-xs-2">
                <a ng-class="{'isCollapse':vm.isCollapsed}" href="#" ng-click="vm.isCollapsed = !vm.isCollapsed">
                  <span class="glyphicon collapse-icon" ng-class="{'glyphicon-chevron-up': !vm.isCollapsed, 'glyphicon-chevron-down': vm.isCollapsed}"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="common-box-content" uib-collapse="vm.isCollapsed">
        <div class="common-main-content whatyoubuy-sub-box" ng-if="!vm.isV2UX">
            <div class="common-sub-box">
                <div class="tool-tip">
                    <p>{{vm.whatYouAreBuying}}
                        <span ng-if="vm.reqType == 'PGP' && vm.channel == 'SCB'">
                            <br/>
                            <br/> This policy is protected under the Policy Owners' Protection Scheme which is administered by
                            the Singapore Deposit Insurance Corporation (SDIC). Coverage for your policy is automatic and
                            no further action is required from you. For more information on the types of benefits that are
                            covered under the scheme as well as the limits of coverage, where applicable, please contact
                            Prudential or visit the LIA or SDIC websites (
                            <a href="http://www.lia.org.sg" target="_blank">www.lia.org.sg</a> or
                            <a href="http://www.sdic.org.sg" target="_blank">www.sdic.org.sg</a>).
                            <br/>
                            <br/> You are encouraged to go through the following items before buying a life policy via this online
                            channel:
                            <br/>
                            <br/> Have you...
                            <br/>
                            <br/> a) Used the Insurance Estimator at the following link:
                            <br/>
                            <a href="https://www.cpf.gov.sg/eSvc/Web/Schemes/InsuranceEstimator/InsuranceEstimator" target="_blank">https://www.cpf.gov.sg/eSvc/Web/Schemes/InsuranceEstimator/InsuranceEstimator</a>
                            to calculate the amount of life insurance coverage you would need?
                            <br/>
                            <br/> b) Used the Budget Calculator at the following link:
                            <br/>
                            <a href="https://www.moneysense.gov.sg/financial-tools/budget-calculator" target="_blank">https://www.moneysense.gov.sg/financial-tools/budget-calculator</a>
                            to check if the premium that you will pay is affordable based on your current income and expenditure?
                            <br/>
                            <br/> c) Visited
                            <a href="http://www.comparefirst.sg" target="_blank">http://www.comparefirst.sg</a> to compare the features and premiums of Direct Purchase Insurance
                            (DPI) and other types of life policies?
                            <br/>
                        </span>
                    </p>
                </div>
                <div class="document-hint">
                    <div class="hint-details">
                        <p class="hint-title">Your password hint to open the documents:</p>
                        <p class="hist-text">Last 5 characters of your NRIC and your date of birth in this format: <strong>DDMMMYY</strong></p>
                        <p class="hist-text">example password: <span class="text-highlight"><b>4567A15JAN90</b></span></p>
                    </div>
                </div>
                <div class="document-hint">
                    <div class="hint-details">
                        <p class="hint-title">All your correspondence will be delivered electronically</p>
                        <p class="hist-text">Our policy-related documents are now digital. You will receive an SMS whenever a letter is available for you, with a link to access your letters electronically. For documents that are unavailable digitally, we will continue to mail you the hardcopies <span ng-click='vm.termAndConditionDocument();' class="tclink">T&amp;C apply</span>.</p>
                        <p class="hist-text">This will apply to all existing policies you have with Prudential, if any. If you prefer to receive letters via mail, you can update your preference in <span class="pru-highlight">PRU</span>access.</p>
                    </div>
                </div>
                <div class="pdf-box">
                    <div class="pdf-item" ng-repeat="pdf in vm.pdfList track by $index">
                        <div class="item-img">
                            <span class="icon-pdf"></span>
                        </div>
                        <div class="item-title">
                            <p ng-if="$index == 0">{{pdf.displayName(vm.product.prodName, vm.customerName, vm.reqType)}}</p>
                            <p ng-if="$index >= 1">
                                <span>{{pdf.displayName}}</span>
                                <span ng-hide="vm.reqType == 'PA' && $index == 1"> {{pdf.cat == 'Fracture' ? vm.FCPAPlan : vm.product.basic.optDescp}}</span>
                            </p>
                            <div class="item-link">
                                <a href="#" ng-class="{'ios-iframe':(vm.isiOS && !vm.iosChrome)}" ng-click="vm.openPdf(pdf)" id="{{vm.profile.type}}-what-view-{{$index}}" name="{{vm.profile.type}}-what-view-{{$index}}">View PDF</a>
                                <span>|</span>
                                <a ng-show="(!vm.isiOS || vm.iosChrome) && pdf.cat == 'BI'" href="{{vm.downloadUrl}}" download="{{vm.downloadName}}" ng-click="vm.downloadPDF(pdf)" target="{{vm.isIE ? '_self' : '_blank'}}"
                                    id="{{vm.profile.type}}-what-BIdownload-{{$index}}" name="{{vm.profile.type}}-what-BIdownload-{{$index}}">Download</a>
                                <iframe ng-if="vm.isiOS && !vm.iosChrome && pdf.cat == 'BI'" id="testFrame" pdfData="{{pdf}}" frameborder="0" scrolling="no" ng-src="{{vm.formSrc}}" width="35%" height="15%">
                                </iframe>
                                <a ng-show="pdf.cat != 'BI'" href="javascript:;" target="{{vm.isIE ? '_self' : '_blank'}}" ng-click="vm.downloadPDF(pdf)"
                                    id="{{vm.profile.type}}-what-support-{{$index}}" name="{{vm.profile.type}}-what-support-{{$index}}">Download</a>
                                <a ng-show="pdf.cat != 'BI' && vm.isSafari" href="{{pdf.fileUrl}}" target="_blank" download="{{pdf.fileName}}" id="{{vm.profile.type}}-what-notsupport-{{$index}}"
                                    name="{{vm.profile.type}}-what-notsupport-{{$index}}">Download</a>
                            </div>
                            <!-- <div class="item-help">
                                <div ng-show="pdf.cat == 'BI'" class="download-instructions-box" ng-class="{'with-margin':(vm.isiOS && !vm.iosChrome)}">
                                    <span class="tip-triangle"></span>
                                    <div class="help-content-box">
                                        <span>To view the forms after download, please use the default password format provided below:</span>
                                        <table class="pwd-info-box">
                                            <tr>
                                                <td>
                                                    <span>4789H</span>
                                                </td>
                                                <td>
                                                    <span>01JAN80</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span>Last 5 characters/digits of your NRIC/FIN Number</span>
                                                </td>
                                                <td>
                                                    <span>Date of Birth DDMMMYY</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <!-- PDF Download - Your Guide to Life Insurance English | Chinese -->
                <div class="pdf-box" ng-if="vm.reqType === 'PAS' || vm.reqType === 'PT'">
                    <div class="pdf-item">
                        <div class="item-img">
                            <span class="icon-pdf"></span>
                        </div>
                        <div class="item-title">
                            <p>
                                Your Guide to Life Insurance
                                <div class="item-link">
                                    <a href='pdf/YGTLI-English-low-res.pdf' target="_blank">English</a>
                                    <span> | </span>
                                    <a href='pdf/YGTLI-Chinese-low-res.pdf' target="_blank">Chinese</a>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                 <!-- PDF Download - Your Guide to Health Insurance English | Chinese -->
                 <!-- <div class="pdf-box" ng-if="vm.reqType === 'PA'">
                    <div class="pdf-item">
                        <div class="item-img">
                            <span class="icon-pdf"></span>
                        </div>
                        <div class="item-title">
                            <p>
                                Your Guide to Health Insurance
                                <div class="item-link">
                                    <a href='pdf/YGTHI-English-low-res.pdf' target="_blank">English</a>
                                    <span>|</span>
                                    <a href='pdf/YGTHI-Chinese-low-res.pdf' target="_blank">Chinese</a>
                                </div>
                            </p>
                        </div>
                        <div class="item-title">
                            <p>
                                Evaluating my Health Insurance Coverage
                                <div class="item-link">
                                    <a href="pdf/Infographic_English.pdf" target="_blank" id="infographicEnglish" name="infographicEnglish">English</a> |
                                    <span>|</span>
                                    <a href="pdf/Infographic_Chinese.pdf" target="_blank" id="infographicChinese" name="infographicChinese">Chinese</a>
                                </div>
                            </p>
                        </div>
                    </div>
                </div> -->
                <!-- PDF Download - Your Guide to Health Insurance English | Chinese -->
                <div class="pdf-box" ng-if="vm.reqType === 'PM' || vm.reqType === 'PL' || vm.reqType === 'PA'">
                    <div class="pdf-item">
                        <div class="item-img">
                            <span class="icon-pdf"></span>
                        </div>
                        <div class="item-title">
                            <p>
                                Your Guide to Health Insurance
                                <div class="item-link">
                                    <a href='pdf/YGTHI_English_2020-revised.pdf' target="_blank">English</a>
                                    <span> | </span>
                                    <a href='pdf/YGTHI_Chinese_2020-revised.pdf' target="_blank">Chinese</a>
                                </div>
                            </p>
                        </div>
                    </div>
                    <div class="pdf-item">
                        <div class="item-img">
                            <span class="icon-pdf"></span>
                        </div>
                        <div class="item-title">
                            <p>
                                Evaluating my Health Insurance Coverage
                                <div class="item-link">
                                    <a href="pdf/Infographic_English.pdf" target="_blank" id="infographicEnglish" name="infographicEnglish">English</a>
                                    <span>|</span>
                                    <a href="pdf/Infographic_Chinese.pdf" target="_blank" id="infographicChinese" name="infographicChinese">Chinese</a>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="buy-review-sub-box" ng-if="vm.isV2UX">
            <p class="review-text">
                Please review your Product Summary, and Policy Contract, including any coverage exclusion, before proceeding as the values, financial information and benefits have been updated based on the specific responses you have provided in your application. These may vary from the initial quotations provided to you before you commenced the online application.
            </p>
            <p class="review-text" ng-if="vm.reqType === 'PER' || vm.reqType === 'PC' || vm.reqType === 'PAT'">
                Premium for your policy will be based on the Age Next Birthday of the Life Assured for the first and all subsequent renewal premiums.
            </p>
            <p class="review-text">
                Your policy terms will be made available to you via <strong><a ng-href="{{vm.pruaccess.link}}" target="_blank">PruAccess</a></strong><span class="info-tooltip no-margin" uib-tooltip-html="vm.pruaccess.info"></span> after your application is processed and incepted.
            </p>
            <div class="document-hint">
                <span class="hint-icon">
                </span>
                <div class="hint-details">
                    <p class="hint-title">Your password hint to open the documents:</p>
                    <p class="hist-text">Last 5 characters of your NRIC and your date of birth in this format: <strong>DDMMMYY</strong></p>
                    <p class="hist-text">example password: <span class="text-highlight"><b>4567A15JAN90</b></span></p>
                </div>
            </div>
            <div class="correspondence-box">
                <div class="correspondence-details">
                    <p class="correspondence-title">All your correspondence will be delivered electronically</p>
                    <p class="correspondence-text">Our policy-related documents are now digital. You will receive an SMS whenever a letter is available for you, with a link to access your letters electronically. For documents that are unavailable digitally, we will continue to mail you the hardcopies <span ng-click='vm.termAndConditionDocument();'><a href="javascript:void(0);">T&amp;C apply</a>.</p>
                    <p class="correspondence-text">This will apply to all existing policies you have with Prudential, if any. If you prefer to receive letters via mail, you can update your preference in <span class="pru-highlight">PRU</span>access.</p>
                </div>
            </div>
            <div class="document-details">
                <p class="hint-title">Please download and keep for your records</p>
                <ul class="document-list">
                    <li class="document-item" ng-repeat="pdf in vm.pdfList track by $index">
                        <div class="document-item-details" ng-if="!(vm.isPulse && vm.reqType === 'PS')" ng-click="vm.downloadPDF(pdf,$index,vm.isiOS)">
                            <span class="download-icon">
                            </span>
                            <iframe style="margin-bottom:-105px;" ng-if="$index == 0 && vm.isiOS && !vm.iosChrome && vm.reqType !== 'PER'" id="testFrame" frameborder="0" scrolling="no" ng-src="{{vm.formSrc}}" width="100%" height="50%">
                            </iframe>
                            <iframe style="margin-bottom:-75px;" ng-if="$index == 0 && vm.isiOS && !vm.iosChrome && vm.reqType === 'PER'" id="testFrame" frameborder="0" scrolling="no" ng-src="{{vm.formSrc}}" width="100%" height="50%">
                            </iframe>
                            <p ng-if="$index == 0 && (!vm.isiOS || vm.iosChrome)" class="document-name">{{pdf.displayName(pdf.name, vm.customerName, vm.reqType)}}</p>
                            <p ng-if="$index >= 1" class="document-name">{{pdf.displayName}}</p>
                        </div>
                        <!--PACSDP-4596 PULSE show static PI-->
                        <div class="document-item-details" ng-if="vm.isPulse && vm.reqType === 'PS'" ng-click="vm.downloadPDF(pdf,$index,vm.isiOS)">
                            <span class="download-icon"></span>
                            <p class="document-name">{{pdf.displayName}}</p>
                        </div>
                   </li>
                    <li class="document-item-details-last" ng-if="vm.reqType === 'PER' || vm.reqType === 'PC' || vm.reqType === 'PAT'">
                        <p class="document-name-last">
                            Your Guide to Life Insurance
                            <a href='pdf/YGTLI-English-low-res.pdf' target="_blank">English</a> |
                            <a href='pdf/YGTLI-Chinese-low-res.pdf' target="_blank">Chinese</a>
                        </p>
                    </li>
                    <li class="document-item-details-last" ng-if="vm.reqType === 'PS' || vm.reqType === 'PC'">
                        <p class="document-name-last">
                            {{ vm.insuranceGuide.title }}
                            <a href="pdf/YGTHI_English_2020-revised.pdf" target="_blank">English</a> |
                            <a href="pdf/YGTHI_Chinese_2020-revised.pdf" target="_blank">Chinese</a>
                        </p>
                    </li>
                    <li class="document-item-details-last" ng-if="vm.reqType === 'PS' || vm.reqType === 'PC'">
                        <p class="document-name-last">
                            Evaluating my Health Insurance Coverage
                            <a href="pdf/Infographic_English.pdf" target="_blank">English</a> |
                            <a href="pdf/Infographic_Chinese.pdf" target="_blank">Chinese</a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
