<div id="{{ vm.profile.type }}-about-you">
  <div class="about-you details-common" ng-class="{'common-details-box':(vm.summaryStep ==='DETAIL')}">
    <div class="common-box-header" ng-class="{'isCollapse':vm.isCollapsed}" ng-show="vm.summaryStep !== 'EDIT'">
      <div class="row">
        <div class="col-xs-10">
          <h1>Personal Details</h1>
        </div>
        <div class="col-xs-2">
          <a ng-class="{'isCollapse':vm.isCollapsed}" id="aboutYouCommonHide" name="aboutYouCommonHide" href="#"
             ng-click="vm.setStep()">
            <span class="pull-right collapse-icon glyphicon"
                  ng-class="{'glyphicon-chevron-up': !vm.isCollapsed, 'glyphicon-chevron-down': vm.isCollapsed}"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="common-box-content" uib-collapse="vm.isCollapsed">
      <div class="section-title" ng-show="vm.summaryStep =='REVIEW' || vm.summaryStep =='EDIT'">Personal details</div>
      <div ng-class="{'common-main-content' : (vm.summaryStep ==='DETAIL')}">
        <div class="common-sub-box">
          <form class="content-form" name="aboutYouForm" novalidate>
            <div class="row each-group"
                 ng-show="vm.summaryStep ==='DETAIL' || vm.summaryStep ==='EDIT' || vm.summaryStep ==='REVIEW'">
              <div class="col-xs-12 col-sm-12 form-group" style="margin-bottom: 30px;" ng-show="vm.principalName && vm.myInfoSelected">
                <div>
                  <label class="view-form-title">Principal Name</label>
                  <p class="view-form-input">{{ vm.principalName }}</p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 form-group">
                <div ng-if="vm.summaryStep =='DETAIL' && !vm.myInfoSelected">
                  <label class="static-label label-grey focus error" for="txtLastName">Surname</label>
                  <empty ng-show="aboutYouForm.lastName.$invalid && aboutYouForm.lastName.$isOnBlur">
                    <p ng-if="aboutYouForm.lastName.$error.required && !aboutYouForm.lastName.$error.pattern" class="error-msg lnameErr">Please enter a valid surname</p>
                    <p ng-if="aboutYouForm.lastName.$error.pattern" class="error-msg">Please enter a valid surname</p>
                    <p ng-if="aboutYouForm.lastName.$error.maxlength" class="error-msg">Surname should not exceed 60 characters</p>
                  </empty>
                  <input type="text" class="form-control input-summary-style isBlurValidation" id="txtLastName"
                         name="lastName" title="lastName" ng-maxlength="60" ng-trim=false ng-pattern="/^(['&quot;+a-zA-Z0-9()#.@,%&/-])+(\s['&quot;+a-zA-Z0-9()#.@,%&/-]+)*['&quot;+a-zA-Z0-9()#.@,%&/-\s]{0,1}$/" ng-model="vm.lastName" required/>
                </div>
                <div ng-if="!vm.myInfoSelected">
                  <div ng-show="(vm.summaryStep =='REVIEW' || vm.summaryStep =='EDIT')">
                    <!--PD-2442: Display only "Name" in Application form if First Name missing in LA-->
                    <label class="view-form-title" ng-if="vm.firstName">Surname</label>
                    <label class="view-form-title" ng-if="!vm.firstName">Name</label>
                    <p class="view-form-input">{{ vm.lastName }}</p>
                  </div>
                </div>
                <div ng-if="vm.myInfoSelected && !vm.myInfoHasError">
                  <label class="view-form-title">Surname</label>
                  <span class="error-msg" ng-show="vm.isSurnameEmpty">This is a required field</span>
                  <div>
                    <select id="surnameValue"
                            class="form-control dropdown-input input-summary-style isBlurValidation"
                            ng-change="onSurnameDropdownChange(itemSelected)"
                            name="surnameValue"
                            ng-model="surnameValue"
                            ng-options="surname.name for surname in surnameValues track by surname.id">
                      <option value="">Select the Surname</option>
                    </select>
                  </div>
                </div>
                <span class="field-support">Per your NRIC</span>
              </div>
              <div ng-if="!vm.myInfoSelected">
                <div class="col-xs-12 col-sm-6 form-group">
                  <div ng-show="vm.summaryStep =='DETAIL'">
                    <label class="static-label label-grey focus error" for="txtFirstName">Given name(s)</label>
                    <empty ng-if="aboutYouForm.firstName.$invalid  && aboutYouForm.firstName.$isOnBlur">
                      <p ng-if="aboutYouForm.firstName.$error.required && !aboutYouForm.firstName.$error.pattern" class="error-msg">Please enter a valid given name(s)</p>
                      <p ng-if="aboutYouForm.firstName.$error.pattern" class="error-msg">Please enter a valid given name(s)</p>
                      <p ng-if="aboutYouForm.firstName.$error.maxlength" class="error-msg">Given Name should not exceed 60 characters</p>
                    </empty>
                    <input type="text" class="form-control input-summary-style isBlurValidation" id="txtFirstName"
                           name="firstName" title="firstName" ng-maxlength="60" ng-trim=false ng-pattern="/^(['&quot;+a-zA-Z0-9()#.@,%&/-])+(\s['&quot;+a-zA-Z0-9()#.@,%&/-]+)*['&quot;+a-zA-Z0-9()#.@,%&/-\s]{0,1}$/"
                           ng-model="vm.firstName"/>
                  </div>
                  <!--PD-2442: Display only "Name" in Application form if First Name missing in LA-->
                  <div ng-show="(vm.summaryStep =='REVIEW' || vm.summaryStep =='EDIT') && vm.firstName">
                    <label class="view-form-title">Given name(s)</label>
                    <p class="view-form-input">{{ vm.firstName }}</p>
                  </div>
                  <span class="field-support" ng-if="vm.firstName">Per your NRIC</span>
                </div>
              </div>
              <div ng-if="vm.myInfoSelected && !vm.myInfoHasError">
                <div class="col-xs-12 col-sm-6 form-group">
                  <div>
                    <label class="view-form-title">Given name(s)</label>
                    <span class="error-msg" ng-show="vm.isGivenNameEmpty">This field is blank or format is incorrect</span>
                    <input type="text" class="form-control input-summary-style isBlurValidation" id="txtGivenName"
                           name="givenName" title="givenName" ng-maxlength="60" ng-trim=false ng-pattern="/^(['&quot;+a-zA-Z0-9()#.@,%&/-])+(\s['&quot;+a-zA-Z0-9()#.@,%&/-]+)*['&quot;+a-zA-Z0-9()#.@,%&/-\s]{0,1}$/"
                           ng-model="vm.givenName"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="row each-group" ng-if="vm.reqType == 'PGP' || vm.reqType == 'PGRP' || vm.reqType == 'PAS' || vm.reqType == 'PS' || vm.reqType == 'PER' || vm.reqType == 'PC'|| vm.reqType == 'PT' || vm.reqType == 'PAT'">
              <div class="col-xs-12 col-sm-6 form-group">
                <div ng-show="(vm.summaryStep ==='EDIT' || vm.summaryStep ==='DETAIL')">
                  <label class="static-label">Gender</label>
                  <span class="error-msg" ng-show="!vm.gender && aboutYouForm.gender.$isOnBlur">This is a required field</span>
                  <!--Bug-1938:[PGP] Gender mapping in Application form-->
                  <p class="view-form-input" ng-if="vm.summaryStep =='REVIEW' || vm.summaryStep =='EDIT' || (vm.summaryStep =='DETAIL' && vm.customer && vm.customer.gender)">
                    {{vm.gender ? vm.gender === "M" ? "Male" : "Female" : ""}}</p>
                  <div ng-if="vm.summaryStep =='DETAIL' && !(vm.customer && vm.customer.gender)">
                    <div class="consent-radio">
                      <label class="radioinline">
                        <div class="radio">
                          <input type="radio" name="gender" id="male" title="male" value="M" ng-model="vm.gender"
                                 required>
                          <label for="male"> Male</label>
                        </div>
                      </label>
                      <label class="radioinline">
                        <div class="radio">
                          <input type="radio" name="gender" id="female" title="female" value="F" ng-model="vm.gender"
                                 required>
                          <label for="female"> Female</label>
                        </div>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 form-group">
                <dob-input about-you-form="aboutYouForm" dob-date="vm.dob" select-mode="'REVIEW'"></dob-input>
              </div>
            </div>
            <div class="row each-group">
              <div class="col-md-6 form-group">
                <div ng-show="vm.isExistCustomerDecl =='false' && vm.summaryStep =='DETAIL' && !vm.myInfoSelected">
                  <label class="static-label" for="txtNric">NRIC/FIN/Identification No.</label>
                  <span class="error-msg" ng-show="(aboutYouForm.nric.$invalid || aboutYouForm.nric.$pattern) && aboutYouForm.nric.$isOnBlur">Please enter a valid NRIC/FIN/Identification No.</span>
                  <input type="text" id="txtNric" name="nric" title="nric"
                         class="form-control input-summary-style isBlurValidation" ng-model="vm.nric" ng-keyup="vm.nric = vm.nric.toUpperCase();" pattern="[a-zA-Z0-9]+" minlength="5" maxlength="25" required autocomplete="off"/>
                  <span class="field-support">Only customers with a valid NRIC/FIN/Identification No. can apply</span>
                </div>
                <div ng-show="vm.isExistCustomerDecl =='true' || vm.summaryStep =='REVIEW' || vm.summaryStep =='EDIT' || vm.myInfoSelected">
                  <label class="static-label" for="txtNric">NRIC/FIN/Identification No.</label>
                  <p class="view-form-input">{{ vm.nric | mask:4 }}</p>
                  <span class="field-support">Only customers with a valid NRIC/FIN/Identification No. can apply</span>
                </div>
              </div>
              <div class="col-md-6 form-group" ng-show="vm.myInfoSelected && !vm.showMediSave">
                <div>
                  <label class="view-form-title">Residency Status</label>
                  <p class="view-form-input">{{ vm.residentialStatusDesc }}</p>
                </div>
              </div>
              <div ng-show="vm.showMediSave" class="col-md-6 form-group">
                <div ng-show="vm.isExistCustomerDecl =='false' && vm.summaryStep =='DETAIL' && !vm.myInfoSelected" class="form-group">
                  <label class="static-label" for="txtMedisave">MediSave Account</label>
                  <input type="text" class="form-control input-summary-style isBlurValidation txtForMedisave" id="mediSave" ng-model="vm.nric" ng-keyup="vm.nric = vm.nric.toUpperCase();" ng-readonly="true"
                         title="mediSave"/>
                  <span class="field-support">&nbsp;</span>
                </div>
                <div ng-show="(vm.isExistCustomerDecl =='true' || vm.summaryStep =='REVIEW' || vm.summaryStep =='EDIT' || vm.myInfoSelected)">
                  <label class="static-label" for="txtMedisave">MediSave Account</label>
                  <p class="view-form-input">{{ vm.nric | mask:4 }}</p>
                </div>
              </div>
            </div>

            <div class="row each-group" ng-show="vm.myInfoSelected && vm.showMediSave">
              <div class="col-xs-12 col-sm-6 form-group">
                <div>
                  <label class="view-form-title">Nationality</label>
                  <p class="view-form-input">{{ vm.nationalityDesc }}</p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 form-group" ng-show="vm.profile.residencyCode !== 3 && vm.residentialStatus">
                <div>
                  <label class="view-form-title">Residency Status</label>
                  <p class="view-form-input">{{ vm.residentialStatusDesc }}</p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 form-group" ng-show="vm.profile.residencyCode === 3 || !vm.residentialStatus">
                <div>
                  <div>
                    <label class="view-form-title">Pass Type</label>
                    <p class="view-form-input">{{ vm.passTypeDesc }}</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row each-group" ng-show="vm.myInfoSelected && vm.showMediSave">
              <div class="col-xs-12 col-sm-6 form-group" ng-show="vm.profile.residencyCode === 3 || !vm.residentialStatus">
                <div>
                  <label class="view-form-title">Residency Status</label>
                  <p class="view-form-input">{{ vm.residentialStatusDesc }}</p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 form-group">
                <div ng-show="vm.profile.residencyCode === 3 || !vm.residentialStatus">
                  <div>
                    <label class="view-form-title">Pass Status</label>
                    <p class="view-form-input">{{ vm.passStatus }}</p>
                  </div>
                  <div>
                    <label class="view-form-title">Pass Expiry Date</label>
                    <p class="view-form-input">{{ vm.passExpiryDate }}</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row each-group" ng-show="vm.myInfoSelected && !vm.showMediSave">
              <div class="col-xs-12 col-sm-6 form-group">
                <div>
                  <label class="view-form-title">Nationality</label>
                  <p class="view-form-input">{{ vm.nationalityDesc }}</p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 form-group">
                <div ng-show="vm.profile.residencyCode === 3 || !vm.residentialStatus">
                  <div>
                    <label class="view-form-title">Pass Type</label>
                    <p class="view-form-input">{{ vm.passTypeDesc }}</p>
                  </div>
                  <div>
                    <label class="view-form-title">Pass Status</label>
                    <p class="view-form-input">{{ vm.passStatus }}</p>
                  </div>
                  <div>
                    <label class="view-form-title">Pass Expiry Date</label>
                    <p class="view-form-input">{{ vm.passExpiryDate }}</p>
                  </div>
                </div>
              </div>
            </div>


            <div class="row each-group">
              <div class="col-md-6 form-group" ng-show="!(vm.profile && vm.profile.loginDetail && vm.profile.loginDetail.username)">
                <div ng-show="(vm.summaryStep ==='DETAIL' && !vm.myInfoSelected) || (vm.myInfoSelected && !vm.isValidMobileNo)">
                  <label class="static-label label-grey">Mobile Number</label>
                  <span class="error-msg error"
                        ng-show="vm.iddEmpty">Please select valid country code</span>

                  <span class="error-msg error" ng-show="(!vm.number && aboutYouForm.number.$isOnBlur)">Please enter a valid mobile number</span>
                  <!-- <span class="error-msg error" ng-show="vm.iddEmpty">Please select valid country code</span> -->
                  <span class="error-msg error" ng-show="(vm.mobileValidError && vm.number)">Please enter a valid mobile number</span>
                  <div class="row">
                    <div class="col-xs-6">
                      <!-- <input type="text" id="txtMobileIDD" name="idd" title="idd" maxlength="5"
                             class="txtForMobile form-control input-summary-style isBlurValidation" ng-model="vm.idd"
                             idd-validation ng-change="vm.validateInput('idd',vm.idd)" ng-init="vm.idd='+65'"/> -->
                      <dropdown-box-with-search-pru edit-mode="false" static-drop-down="true"></dropdown-box-with-search-pru>
                    </div>
                    <div class="col-xs-6">
                      <input type="text" id="txtMobileNumber" name="number" title="number"
                             ng-change="vm.mobileValidError=false"
                             ng-blur="vm.validateInput('mobile', vm.number, vm.idd)"
                             class="form-control input-summary-style isBlurValidation" ng-model="vm.number"
                             placeholder="" phone-validation required/>
                    </div>
                  </div>
                </div>
                <div ng-show="vm.myInfoSelected && vm.number && vm.isValidMobileNo">
                  <label class="view-form-title">Mobile Phone Number</label>
                  <p class="view-form-input">+{{ vm.idd }}&nbsp;{{ vm.number | mask:4 }}</p>
                </div>
                <div ng-show="vm.summaryStep =='REVIEW' || vm.summaryStep =='EDIT'">
                  <label class="view-form-title">Mobile Phone Number</label>
                  <p class="view-form-input">+{{ vm.idd }}&nbsp;{{ vm.number | mask:4 }}</p>
                </div>
                <span class="field-support">So that we can notify you about your application.</span>
              </div>
              <div class="col-md-6 form-group" ng-show="(vm.profile && vm.profile.loginDetail && vm.profile.loginDetail.username && vm.myInfoSelected)">
                <div ng-show="(vm.summaryStep ==='DETAIL' && !vm.myInfoSelected) || (vm.myInfoSelected && !vm.number)">
                  <label class="static-label label-grey">Mobile Number</label>
                  <span class="error-msg error"
                        ng-show="vm.iddEmpty">Please select valid country code</span>

                  <span class="error-msg error" ng-show="(!vm.number && aboutYouForm.number.$isOnBlur)">Please enter a valid mobile number</span>
                  <!-- <span class="error-msg error" ng-show="vm.iddEmpty">Please select valid country code</span> -->
                  <span class="error-msg error" ng-show="(vm.mobileValidError && vm.number)">Please enter a valid mobile number</span>
                  <div class="row">
                    <div class="col-xs-6">
                      <!-- <input type="text" id="txtMobileIDD" name="idd" title="idd" maxlength="5"
                             class="txtForMobile form-control input-summary-style isBlurValidation" ng-model="vm.idd"
                             idd-validation ng-change="vm.validateInput('idd',vm.idd)" ng-init="vm.idd='+65'"/> -->
                      <dropdown-box-with-search-pru edit-mode="false" static-drop-down="true"></dropdown-box-with-search-pru>
                    </div>
                    <div class="col-xs-6">
                      <input type="text" id="txtMobileNumber" name="number" title="number"
                             ng-change="vm.mobileValidError=false"
                             ng-blur="vm.validateInput('mobile', vm.number, vm.idd)"
                             class="form-control input-summary-style isBlurValidation" ng-model="vm.number"
                             placeholder="" phone-validation required/>
                    </div>
                  </div>
                </div>
                <div ng-show="vm.myInfoSelected && vm.number">
                  <label class="view-form-title">Mobile Phone Number</label>
                  <p class="view-form-input">+{{ vm.idd }}&nbsp;{{ vm.number | mask:4 }}</p>
                </div>
                <span class="field-support">So that we can notify you about your application.</span>
              </div>
              <div class="col-md-6 form-group">
                <div ng-show="((vm.summaryStep ==='DETAIL' || vm.summaryStep =='EDIT') && !vm.myInfoSelected) || (vm.myInfoSelected && !vm.isValidEmail)" class="form-group">
                  <label class="static-label" for="txtEmail">Email address</label>
                  <span class="error-msg" ng-show="aboutYouForm.email.$error.email && aboutYouForm.email.$isOnBlur">Please enter a valid email address</span>
                  <span class="error-msg" ng-show="aboutYouForm.email.$error.required && aboutYouForm.email.$isOnBlur">Please enter a valid email address</span>
                  <input type="text" class="form-control input-summary-style isBlurValidation" id="txtEmail"
                         title="email" ng-blur="vm.validateInput('email',vm.email)" name="email" ng-model="vm.email"
                         ng-change="aboutYouForm.email.$error.email = false"
                         required/>
                  <span class="field-support">So we can send you information about your application and insurance policy.</span>
                </div>
                <div ng-show="vm.myInfoSelected && vm.isValidEmail">
                  <label class="view-form-title">Email address</label>
                  <p class="view-form-input">{{ vm.email }}</p>
                </div>
              </div>
            </div>
            <div class="row each-group">
              <div class="col-md-6 form-group">
                <questions-pru ng-if='vm.aboutYouQuestions.length > 0' filter-question="vm.aboutYouQuestions" questionnaire-json="vm.aboutYouQ" questionnaire-cat="vm.questionnaireCat" edit-mode="vm.summaryStep === 'REVIEW'"></questions-pru>
              </div>
            </div>
            <div class="each-group bottom-tip" ng-if="vm.summaryStep ==='DETAIL' && (vm.reqType !=='PS' || (vm.reqType ==='PS' && vm.partnerChannel !=='UOB'))">
                <span class="field-support">By clicking the "NEXT" button below, I understand that the information I provide on each screen will be collected in real time. I consent to Prudential, its employees and representatives to collect, use, retain and disclose my personal data
                as set out in
                <a class="modal-link" href="#" ng-click="vm.howCollectDataModal()">How we use, collect and disclose your personal data.</a>
                I consent to be contacted by Prudential, its representatives and distribution partners by post, email, telephone or SMS in relation to {{ vm.productName }}, even if my application is not completed.
              </span>
            </div>
            <div class="each-group bottom-tip" ng-if="vm.summaryStep ==='DETAIL' && vm.reqType === 'PS' && vm.partnerChannel ==='UOB'">
                <span class="field-support">By clicking the "NEXT" button below, I understand that the information I provide on each screen will be collected in real time. I consent to Prudential and its employees to collect, use, retain and disclose my personal data as set out in
                <a class="modal-link" href="#" ng-click="vm.howCollectDataModal()">How we use, collect and disclose your personal data.</a>
                I consent to Prudential disclosing or transferring my personal data in this form to their appointed intermediary United Overseas Bank Limited ("<b>UOB</b>") for the purpose of contacting me by post, email, telephone or SMS in relation to PRUShield, even if my application is not completed.
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="btn-box text-right" ng-show="vm.summaryStep =='DETAIL' && !vm.isCollapsed">
      <button id="btnNextToMoreAboutYou" name="nextToMoreAboutYou" title="nextToMoreAboutYou"
              class="btn detail-btn detail-submit-btn" ng-click="vm.validateForm()">NEXT</button>
    </div>
  </div>
</div>
