<div id="{{vm.profile.type}}-payment-option" ng-if="vm.isPerDirectEntry">
  <div class="payment-options details-common common-details-box">
    <div class="common-box-header">
      <div class="row">
        <div class="col-xs-12">
          <a class="pull-right edit-section-link" ng-hide="vm.editMode" ng-click="vm.editSection()">
            <img class="edit-pencil" ng-src="assets/images/svg/edit.svg">
          </a>
          <h1>Payment Options</h1>
        </div>
      </div>
    </div>
    <div class="common-box-content">
      <div class="common-main-content">
        <div class="common-sub-box">
          <div class="row each-group">
            <div id="payment-option-review">
              <div class="common-box-content col-xs-12">
                <div ng-show="vm.editMode">
                  <div class="per-payment-desc">For more information on payment methods, please
                    <a href="https://www.prudential.com.sg/services/making-payments/ipay" target="_blank" rel="noopener noreferrer">click here</a>
                  </div>
                  <p class="grey-text">How do you wish to pay?</p>
                  <div class="consent-radio row">
                    <div ng-repeat="option in vm.perPaymentConfig">
                      <div class="col-xs-12 col-sm-12">
                        <div class="radio-inline">
                          <div class="radio">
                            <input type="radio" name="paymentOptions" id="{{option.label}}" title="{{option.label}}" value="{{option.value}}" ng-model="vm.product.paymentOption"
                                   ng-checked="vm.product.paymentOption" ng-change="vm.onChangeHandler(option.value)" />
                            <label for="{{option.label}}">pay via {{option.label}}</label>
                          </div>
                          <span class="info-tooltip no-margin" uib-tooltip-html="option.details" ng-if="option.value === vm.showToolTip"></span>
                        </div>
                      </div>
                    </div>
                    <p class="error-msg" ng-show="vm.errorMsg">{{vm.errorMsg}}</p>
                  </div>
                </div>
                <div ng-show="!vm.editMode">
                  <span>How do you wish to pay?</span>&nbsp;
                  <b>via {{vm.answer.label}}</b>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
