<div>
    <!-- display mode for review summary -->
    <div ng-show="!vm.isEdit && vm.selectMode !== 'DETAIL'">
        <!--PD-1639: Pencil icons in editable fields on review summary-->
        <label class="view-form-title">Date of birth&nbsp;&nbsp;&nbsp;
            <span id="txtDobEdit" name="txtDobEdit" ng-show="vm.selectMode !== 'EDIT' && !vm.loginStatus && vm.reqType !== 'PAS' && vm.reqType !== 'PS' && vm.reqType !== 'PER' && vm.reqType !== 'PT' && vm.reqType !== 'PC' && vm.reqType !== 'PAT'" ng-click="vm.isEditAction()">
              <img class="edit-pencil" ng-src="assets/images/svg/edit.svg">
            </span>
        </label>
        <p class="view-form-input">{{vm.dobDate}}</p>
    </div>
    <!-- edit mode for review summary -->
    <div ng-show="vm.isEdit || vm.selectMode === 'DETAIL'">
        <label class="static-label" for="dob" ng-class="{'empty': !vm.dobDate && !vm.onFocus,'error':(!vm.dobDate && vm.aboutYouForm.dob.$isOnBlur) || (vm.dobDate && vm.aboutYouForm.dob.$invalid && vm.aboutYouForm.dob.$isOnBlur),'edit':vm.onFocus,'focus': vm.onFocus || vm.dobDate}">Date of birth</label>
        <span class="error-msg" ng-show="!vm.dobDate && vm.aboutYouForm.dob.$isOnBlur">Please enter a valid date of birth</span>
        <input type="text" datetime="dd/MM/yyyy" datetime-model="dd/MM/yyyy" name="dob" class="form-control input-summary-style medium-input-style isBlurValidation" ng-class="{'error-input': vm.aboutYouForm.dob.$isOnBlur && vm.aboutYouForm.dob.$invalid}" ng-model="vm.dobDate"
            id="txtDob" title="dob" ng-blur="vm.onFocus = false; vm.changeProfileDob()" ng-focus="vm.onFocus = true">
    </div>
</div>
