<!--PD-2045: for PGRP-->
<div class="review-summary" ng-class="{'common-combine-box': allowCustomerFlg || vm.reqType != 'PA' || !vm.loginStatus,'common-financial-box': !allowCustomerFlg && vm.reqType == 'PA' && vm.loginStatus, 'default': true}">
    <div class="common-box-content">
        <form class="content-form" name="moreAboutYouForm" novalidate>
            <div class="summary-more-content common-sub-box">
                <div class="section-title">
                    About You
                    <a class="pull-right edit-section-link" ng-click="vm.editSection()" ng-if="vm.isV2UX">EDIT</a>
                </div>
<!-- Residency Details -->
                <div class="section-title">Residency details</div>
                <!--Nationality-->
                <select-edit-review label-name="'Nationality'" current-value="vm.nationality" current-value-desc="vm.nationalityDesc" drop-down-list="vm.allNationality" current-form="moreAboutYouForm" field-name="'nationality'" select-mode="'REVIEW'" drop-down-key="['option','value']"
                    ng-if="vm.profile.identity != 1 && vm.reqType !== 'PER' && vm.reqType !== 'PC' && vm.reqType !== 'PAT' && !vm.myInfoSelected"></select-edit-review>
                <!-- Residency Status and Pass type if foreigner -->
                <div ng-if='vm.reqType === "PER" || vm.reqType === "PC" || vm.reqType === "PAT"'class="each-group residency-section">
                    <label class="view-form-title"> Nationality</label>
                    <p class="view-form-input">{{ vm.nationalityDesc }}</p>
                    <label class="view-form-title"> Residency Status</label>
                    <p class="view-form-input">{{ vm.residencyCode }}</p>
                    <div ng-if="vm.moreAboutYouDetails.residencyCode == 3">
                        <label class="view-form-title"> Pass Type </label>
                        <p class="view-form-input">{{ vm.passType }}</p>
                    </div>
                </div>
                <div class="each-group">
                <!--Have you lived-->
                <div class="each-group">
                    <questions-pru filter-question="vm.sectionQ1" questionnaire-json="vm.allQuestionaire" check-if-kickout="vm.checkIfKickout(qCode)" questionnaire-cat="vm.questionCat" edit-mode="vm.summaryStep == 'EDIT'"></questions-pru>
                </div>
                <!--Were you born in the United States of America?-->
                <!--Which country do you currently live in?-->
                <!--Residential address-->
                <div class="each-group">
                    <address-edit-review current-form="moreAboutYouForm" select-mode="'REVIEW'" address-data="vm.residentialData" postal-code="vm.residentialPostalCode" block-no="vm.residentialBlockNo" street-name="vm.residentialStreet" building-name="vm.residentialBuilding"
                        unit-no="vm.residentialUnitNo" country-name="vm.residentialCountry" set-mailing-address="vm.setMailingAddress(type)" is-singapore="vm.residentialIsSingapore" login-status="vm.loginStatus" mask="vm.mask" change-residential-address="vm.showInputResidential"></address-edit-review>
                </div>
                <!--Has your residential address changed-->
                <div class="each-group">
                    <questions-pru filter-question="vm.section" questionnaire-json="vm.allQuestionaire" check-if-kickout="vm.checkIfKickout(qCode)" questionnaire-cat="vm.questionCat" edit-mode="vm.summaryStep == 'EDIT'"></questions-pru>
                </div>
                <!--Is this also your mailing address?-->
                <!--PD-1639: change mailing address to editable for login user-->
                <div class="each-group">
                    <address-edit-review current-form="moreAboutYouForm" select-mode="'REVIEW'" address-data="vm.mailingData" postal-code="vm.mailingPostalCode" block-no="vm.mailingBlockNo" street-name="vm.mailingStreet" building-name="vm.mailingBuilding" unit-no="vm.mailingUnitNo"
                        country-name="vm.mailingCountry" is-mailing-address="vm.isMailingAddress" is-singapore="vm.mailIsSingapore" set-upload-list="vm.setUploadList()" mask="vm.mask" change-residential-address="vm.showInputResidential"></address-edit-review>
                </div>
                <!--PD-1430 Summary Review Page Layout Change -->

<!-- Residency Details -->
<!-- Employment Details -->
                <div ng-if="!(vm.reqType ==='PS' && vm.isExistCustomerDecl ==='false')"
                    class="section-title">
                    Employment details
                    <a class="pull-right edit-section-link" ng-click="vm.editSection()" ng-if="vm.isV2UX">EDIT</a>
                </div>
                <!--Highest level of education -->
                <!--Which best describes your job?-->
                <!--Job title->
                <!--Do you work in one of the following industries?-->
                <div ng-if="!(vm.reqType ==='PS' && vm.isExistCustomerDecl ==='false')" class="each-group">
                    <questions-pru filter-question="vm.sectionQ2" questionnaire-json="vm.allQuestionaire" check-if-kickout="vm.checkIfKickout(qCode)" questionnaire-cat="vm.questionCat" edit-mode="vm.summaryStep == 'EDIT'"></questions-pru>
                </div>
                <!--What is your annual salary?-->
                <div ng-if="!(vm.reqType ==='PS' && vm.isExistCustomerDecl ==='false')" class="form-group each-group">
                    <input-review about-you-form="moreAboutYouForm" input-details="vm.salaryData" input-value="vm.annualIncome" with-dollar="true"></input-review>
                </div>
<!-- Employment Details -->
<!-- Regulatory Details -->
                <div ng-if="vm.reqType !== 'PS'">
                    <!--PD-1430 Summary Review Page Layout Change -->
                    <div class="section-title">
                        Regulatory details
                        <a class="pull-right edit-section-link" ng-click="vm.editSection()" ng-if="vm.isV2UX">EDIT</a>
                    </div>
                    <!--Are you a tax resident of Singapore ONLY?-->
                    <!--Why does the country indicated in your residential address differ from the country(ies) of your tax residence?-->
                    <!--Do you currently file a tax return in the United States of America (USA)?-->
                    <!--Is this to replace another policy?-->
                    <!--Do you have any pending or existing insurance policy(ies) with other life insurance companies amounting to more than $500,000 cover?-->
                    <!--Are you currently insured under any medisave-approved medical insurance plan with other insurance companies (eg. Incomeshield, HealthShield Gold Max)?-->
                    <!--Are you paying for this policy?-->
                    <!--How will you fund this policy? (You may select more than one option)-->
                    <!--Are you acting on behalf of, for the benefit of, or are you in any way under the direction or control of another person?-->
                    <!--Are you a Politically Exposed Person ("PEP") or related to PEP?-->
                    <div class="each-group">
                        <questions-pru filter-question="vm.sectionQ3" questionnaire-json="vm.allQuestionaire" check-if-kickout="vm.checkIfKickout(qCode)" questionnaire-cat="vm.questionCat" edit-mode="vm.summaryStep == 'EDIT'"></questions-pru>
                    </div>
                </div>
<!-- Regulatory Details -->
                <div ng-if="vm.reqType === 'PS'" >
<!-- Previous Insurance Details -->
                    <div class="section-title">
                        Previous Insurance Details
                        <a class="pull-right edit-section-link" ng-click="vm.editSection()" ng-if="vm.isV2UX">EDIT</a>
                    </div>
                    <div class="each-group">
                        <questions-pru filter-question="vm.sectionQ3" questionnaire-json="vm.allQuestionaire" check-if-kickout="vm.checkIfKickout(qCode)" questionnaire-cat="vm.questionCat" edit-mode="vm.summaryStep == 'EDIT'"></questions-pru>
                    </div>
<!-- Previous Insurance Details -->
<!-- Client's Acknowledgement -->
                    <p class="acknowledgment-title">Client's Acknowledgement</p>
                    <div class="each-group">
                        <questions-pru filter-question="vm.sectionQ4" questionnaire-json="vm.allQuestionaire" check-if-kickout="vm.checkIfKickout(qCode)" questionnaire-cat="vm.questionCat" edit-mode="vm.summaryStep == 'EDIT'"></questions-pru>
                    </div>
<!-- Client's Acknowledgement -->
<!-- Additional Premium Support -->
                    <div class="section-title" ng-if="vm.isAPSRequired">
                        Additional Premium Support
                        <a class="pull-right edit-section-link" ng-click="vm.editSection()" ng-if="vm.isV2UX">EDIT</a>
                    </div>
                    <div class="each-group" ng-if="vm.isAPSRequired">
                        <div class="box-container-pru radio-box-pru">
                            <div class="box-label" ng-class="{'box-review-label': !vm.apsOption.isEdit}">
                                <label class="radio-form-title">
                                    Are you currently receiving Additional  Premium Support (APS) to pay for your MediShield Life and/or CareShield Life premiums?
                                </label>
                            </div>
                            <div ng-show="vm.apsOption.isEdit" class="aps-choice">
                                <div class="q-radio-group">
                                    <div class="q-radio">
                                        <label class="q-radio-label">
                                            <input type="radio" name="apsQ-0" ng-value="true" ng-model="vm.apsOption.value" ng-change="vm.apsOptionChange()" required />
                                            <span>Yes</span>
                                        </label>
                                    </div>
                                    <div class="q-radio">
                                        <label class="q-radio-label">
                                            <input type="radio" name="apsQ-0" ng-value="false" ng-model="vm.apsOption.value" ng-change="vm.apsOptionChange()" required />
                                            <span>No</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="!vm.apsOption.isEdit">
                                <div class="answer-text">No</div>
                            </div>
                        </div>
                    </div>
<!-- Additional Premium Support -->
                </div>
            </div>
        </form>
    </div>
</div>
