<div class="policy-details-container">
    <div class="policy-details-common">
        <div class="policy-details" ng-if="!vm.isV2UX" ng-style="fixStyle" id="{{vm.profile.type}}-policy-details">
            <div uib-collapse="vm.isCollapsed">
                <div class="policy-detail-content">
                    <div class="policy-detail-sub-title" ng-if="vm.reqType !== 'PGRP'">
                        <div class="row">
                            <div class="col-xs-10">
                                <!--PD-2045: for PGRP-->
                                <span ng-if="vm.reqType !== 'PGP' && vm.reqType !== 'PGRP' && vm.summaryStep != 'REVIEW'">Estimated premium</span>
                                <span ng-if="(vm.reqType !== 'PGP' && vm.reqType !== 'PGRP') && vm.summaryStep == 'REVIEW'">Final premium</span>
                                <span ng-if="vm.reqType == 'PGP'">One-time payment ({{vm.profile.currencyCode}})</span>
                                <!--PD-2243: Payout selection enhancements-->
                            </div>
                            <div class="col-xs-2">
                                <a ng-class="{'isCollapse':vm.isCollapsedPremium}" href="#" ng-click="vm.isCollapsedPremium = !vm.isCollapsedPremium" id="{{vm.profile.type}}-policy-details-est" name="{{vm.profile.type}}-policy-details-est">
                                  <span class="glyphicon collapse-icon" ng-class="{'glyphicon-chevron-up': !vm.isCollapsedPremium, 'glyphicon-chevron-down': vm.isCollapsedPremium}"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div uib-collapse="vm.isCollapsedPremium" class="policy-detail-sub" ng-if="vm.reqType !== 'PGRP'">
                        <div ng-if='!vm.policy.hasDiscount'class="policy-detail-sub-content">
                            <p class="monthly-premium" ng-if="vm.profile.type !== 'PS'">
                                <span ng-if="vm.summaryStep != 'REVIEW'" id="{{vm.profile.type}}-sumYearlyPremium" name="{{vm.profile.type}}-sumYearlyPremium" title="{{vm.profile.type}}-sumYearlyPremium">{{vm.currency}}&#36;{{vm.parsePremium(vm.policy.sumYearlyPremium)}}
                                    <span ng-if="vm.addCriticalPlanFlg" class="star">*</span>
                                    <span class="unit">{{vm.oneTimePay}}</span>
                                </span>
                                <span ng-if="vm.summaryStep == 'REVIEW' && !vm.isLoading" id="sumYearlyPremium" name="sumYearlyPremium">{{vm.currency}}&#36;{{vm.parsePremium(vm.policy.sumYearlyPremium)}}
                                    <span ng-if="vm.addCriticalPlanFlg" class="star">*</span>
                                    <span class="unit">{{vm.oneTimePay}}</span>
                                </span>
                                <span ng-if="vm.summaryStep == 'REVIEW' && vm.isLoading">
                                    <img ng-src="assets/images/loading.gif">
                                </span>
                            </p>
                            <div class="tip">
                                <!--PD-2045: for PGRP-->
                                <span ng-if="vm.reqType !== 'PGP' && vm.reqType !== 'PGRP'">This may vary depending on the details provided on your application.</span>
                                <span ng-if="vm.reqType == 'PGP'">For a guaranteed payout of {{vm.currency}}&#36;{{vm.policy.guaranteedPayout | number: 0}} upon maturity of your policy.</span>
                                <!--PD-2197: remove this line for PGRP-->
                                <!-- PACSDP-513 -->
                                <div ng-if="vm.reqType !== 'PGP' && vm.reqType !== 'PGRP' && vm.addCriticalPlanFlg" class="comment">*Does not include Critical Illness premium</div>
                            </div>
                        </div>
                        <div ng-if='vm.policy.hasDiscount' class="policy-detail-sub-content">
                            <p class="monthly-premium" ng-if="vm.profile.type !== 'PS' && vm.profile.type !== 'PA'">
                                <span id="{{vm.profile.type}}-sumYearlyPremium" name="{{vm.profile.type}}-sumYearlyPremium" title="{{vm.profile.type}}-sumYearlyPremium">{{vm.currency}}&#36;{{vm.parsePremium(vm.policy.discountedPremium)}}
                                    <span ng-if="vm.addCriticalPlanFlg" class="star">*</span>
                                    <span class="unit">for first year</span>
                                </span>
                                <div class="tip" ng-if="vm.profile.type !== 'PA'">
                                    <span> Your quote is <strong>{{vm.currency}}&#36;{{vm.parsePremium(vm.policy.discountedPremium)}} for the first year</strong> and then
                                        <strong>{{vm.currency}}&#36;{{vm.parsePremium(vm.policy.sumYearlyPremium)}} for the following years.</strong>
                                    </span>
                                </div>
                                <span ng-if="vm.summaryStep == 'REVIEW' && vm.isLoading">
                                    <img ng-src="assets/images/loading.gif">
                                </span>
                            </p>
                            <p class="monthly-premium" ng-if="vm.profile.type === 'PA'">
                                <span id="{{vm.profile.type}}-sumYearlyPremium" name="{{vm.profile.type}}-sumYearlyPremium" title="{{vm.profile.type}}-sumYearlyPremium">{{vm.currency}}&#36;{{vm.parsePremium(vm.policy.discountedYearlyPremium)}}
                                    <span ng-if="vm.addCriticalPlanFlg" class="star">*</span>
                                    <span class="unit">for first year</span>
                                </span>
                                <div class="tip" ng-if="vm.profile.type === 'PA'">
                                    <span> Your quote is <strong>{{vm.currency}}&#36;{{vm.parsePremium(vm.policy.discountedYearlyPremium)}} for the first year</strong> and then
                                        <strong>{{vm.currency}}&#36;{{vm.parsePremium(vm.policy.sumYearlyPremium)}} for the following years.</strong>
                                    </span>
                                </div>
                                <span ng-if="vm.summaryStep == 'REVIEW' && vm.isLoading">
                                    <img ng-src="assets/images/loading.gif">
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="policy-detail-sub-title white-sub-title">
                        <div class="row">
                            <div class="col-xs-10">
                                <span>Your chosen plan</span>
                            </div>
                            <div class="col-xs-2">
                                <a ng-class="{'isCollapse':vm.isCollapsedYouBuying}" href="#" ng-click="vm.isCollapsedYouBuying = !vm.isCollapsedYouBuying" id="{{vm.profile.type}}-policy-details-buy" name="{{vm.profile.type}}-policy-details-buy">
                                  <span class="glyphicon collapse-icon" ng-class="{'glyphicon-chevron-up': !vm.isCollapsedYouBuying, 'glyphicon-chevron-down': vm.isCollapsedYouBuying}"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div uib-collapse="vm.isCollapsedYouBuying" class="policy-detail-sub">
                        <div class="policy-detail-sub-content">
                            <div class="additional-cover">
                                <div class="additional-cover-content">
                                    <div class="item">
                                        <div class="item-img">
                                            <img ng-src="{{vm.icon}}">
                                        </div>
                                        <div class="item-text">
                                            <span>
                                                {{vm.policy.planName}}
                                                <span ng-if="vm.policy.optDescp"> - </span>{{vm.policy.optDescp}}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="item" ng-repeat="rd in vm.policy.rider">
                                        <div class="item-img">
                                            <img ng-src="assets/images/et/ambulance.png">
                                        </div>
                                        <div class="item-text">
                                            <span>{{rd.compoName}}</span>
                                        </div>
                                    </div>
                                </div>
                                <!--PD-2468: Add policy selection made by customer under "You are buying" section for PFC-->
                                <div class="additional-cover-content" ng-if="vm.reqType === 'PFC'">
                                    <p class="title-PGRP">
                                        <strong>Your plan details:</strong>
                                    </p>
                                    <p class="content-PGRP">
                                        <span>
                        <strong>&middot;</strong>
                        </span>&nbsp;
                                        <span>Policy Term:
                        <strong>{{vm.proInfo.term}} years</strong>
                        </span>
                                    </p>
                                    <p class="content-PGRP">
                                        <span>
                        <strong>&middot;</strong>
                        </span>&nbsp;
                                        <span>Sum Assured:
                        <strong>S${{vm.proInfo.sumAssured | number: 0}}</strong>
                        </span>
                                    </p>
                                    <p class="content-PGRP">
                                        <span>
                        <strong>&middot;</strong>
                        </span>&nbsp;
                                        <span>Yearly Cash Benefit Option:
                        <br/>
                        <strong>{{vm.cashBenefitOption}}
                            <br/>{{vm.cashBenefitOptionYear}}</strong>
                        </span>
                                    </p>
                                </div>
                                <!--PD-2243: Payout selection enhancements-->
                                <div class="additional-cover-content" ng-if="vm.reqType === 'PGRP'">
                                    <p class="title-PGRP">
                                        <strong>One-time payment:</strong>
                                    </p>
                                    <p class="monthly-premium monthly-premium-PGRP">
                                        <span ng-if="vm.summaryStep != 'REVIEW'" id="{{vm.profile.type}}-sumYearlyPremium" name="{{vm.profile.type}}-sumYearlyPremium" title="{{vm.profile.type}}-sumYearlyPremium">{{vm.currency}}&#36;{{vm.parsePremium(vm.policy.sumYearlyPremium)}}
                        <span class="unit">{{vm.oneTimePay}}</span>
                                        </span>
                                        <span ng-if="vm.summaryStep == 'REVIEW' && !vm.isLoading" id="sumYearlyPremium" name="sumYearlyPremium">{{vm.currency}}&#36;{{vm.parsePremium(vm.policy.sumYearlyPremium)}}
                        <span class="unit">{{vm.oneTimePay}}</span>
                                        </span>
                                        <span ng-if="vm.summaryStep == 'REVIEW' && vm.isLoading">
                        <img ng-src="assets/images/loading.gif">
                        </span>
                                    </p>
                                    <div class="tip tip-pgrp">
                                        <span>This may vary according to details provided in your application.</span>
                                    </div>
                                    <!--PD-2528:[PGRP] Policy details side bar - Wording change-->
                                    <p class="title-PGRP">
                                        <strong>Your plan details:</strong>
                                    </p>
                                    <p class="content-PGRP">&nbsp;
                                        <span>
                        <strong>&middot;</strong>
                        </span>&nbsp;
                                        <span>Retirement age:
                        <strong>{{vm.proInfo.retirementAge}} years old</strong>
                        </span>
                                    </p>
                                    <p class="content-PGRP">&nbsp;
                                        <span>
                        <strong>&middot;</strong>
                        </span>&nbsp;
                                        <span>Monthly income period:
                        <strong>{{vm.proInfo.monthlyIncomeYears}} years</strong>
                        </span>
                                    </p>
                                    <p class="content-PGRP">&nbsp;
                                        <span>
                        <strong>&middot;</strong>
                        </span>&nbsp;
                                        <span>Guaranteed monthly income:
                        <strong>${{vm.proInfo.sumAssured | number: 0}}</strong>
                        </span>
                                    </p>
                                    <p class="content-PGRP">&nbsp;
                                        <span>
                        <strong>&middot;</strong>
                        </span>&nbsp;
                                        <span>Monthly income option:
                        <strong>{{vm.selectedReceiveOption}}</strong>
                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="policy-detail-sub-title white-sub-title">
                        <div class="row">
                            <div class="col-xs-10">
                                <span>Plan benefits</span>
                            </div>
                            <div class="col-xs-2">
                                <a ng-class="{'isCollapse':vm.isCollapsedWhatGet}" href="#" ng-click="vm.isCollapsedWhatGet = !vm.isCollapsedWhatGet" id="{{vm.profile.type}}-policy-details-get" name="{{vm.profile.type}}-policy-details-get">
                                  <span class="glyphicon collapse-icon" ng-class="{'glyphicon-chevron-up': !vm.isCollapsedWhatGet, 'glyphicon-chevron-down': vm.isCollapsedWhatGet}"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div uib-collapse="vm.isCollapsedWhatGet" class="policy-detail-sub">
                        <div class="policy-detail-sub-content">
                            <div class="benefit-content">
                                <div class="item" ng-repeat="policyItem in vm.policyItemsList">
                                    <div class="item-img">
                                        <img ng-src="{{policyItem.imageSrc}}">
                                    </div>
                                    <div class="item-text" ng-bind-html="policyItem.message">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="policy-detail-sub-title white-sub-title" ng-class="{'isCollapse':vm.isCollapsedHowPay}" ng-if="vm.reqType !== 'PS'">
                        <div class="row">
                            <div class="col-xs-10">
                                <span>Ways to pay</span>
                            </div>
                            <div class="col-xs-2">
                                <a ng-class="{'isCollapse':vm.isCollapsedHowPay}" href="#" ng-click="vm.isCollapsedHowPay = !vm.isCollapsedHowPay" id="{{vm.profile.type}}-policy-details-pay" name="{{vm.profile.type}}-policy-details-pay">
                                  <span class="glyphicon collapse-icon" ng-class="{'glyphicon-chevron-up': !vm.isCollapsedHowPay, 'glyphicon-chevron-down': vm.isCollapsedHowPay}"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div uib-collapse="vm.isCollapsedHowPay" class="policy-detail-sub" ng-if="vm.reqType !== 'PS'">
                        <div class="policy-detail-sub-content final-content">
                            <!--PD-2045: for PGRP-->
                            <div ng-if="vm.reqType !== 'PGP' && vm.reqType !== 'PGRP' && vm.reqType !== 'PAS'" class="pay-content">
                                <img ng-src="assets/images/visa.png">
                                <img ng-src="assets/images/master-card.png">
                            </div>
                            <!-- PACSDP-664: PAS -->
                            <div ng-if="vm.reqType === 'PAS'" class="pay-content">
                                <div ng-if="!vm.isSinglePremium">
                                <img ng-src="assets/images/visa.png">
                                <img ng-src="assets/images/master-card.png">
                                </div>
                                <p ng-if="vm.isSinglePremium && vm.isSRSAllowed">My SRS account</p>
                                <div ng-if="vm.isCashAllowed">
                                <!-- <span><a href="https://www.prudential.com.sg/services/making-payments/ipay" target="_blank" rel="noopener noreferrer">Cash</a> / </span> -->
                                <span><a href="https://www.prudential.com.sg/services/making-payments/ipay" target="_blank" rel="noopener noreferrer">Cheque</a> / </span>
                                <span><a href="https://www.prudential.com.sg/services/making-payments/ipay" target="_blank" rel="noopener noreferrer">Bank Transfer</a></span>
                                <!-- <div class="desc">Cash payments can be made in person at the PRU Customer Care Centre (7 Straits View #01-18/19, Marina One The Heart, 018936)</div> -->
                                </div>
                            </div>
                            <div ng-if="vm.reqType == 'PGP'" class="pay-section">
                                <span ng-if="vm.profile.anb >= 19 && vm.profile.currencyCode == 'SGD'">My SRS account</span>
                                <span>Internet banking</span>
                                <span>Cheque</span>
                            </div>
                            <div ng-if="vm.reqType == 'PGRP'" class="pay-section">
                                <span ng-if="vm.profile.anb >= 19">My SRS account</span>
                                <span>Internet banking *</span>
                                <span>Cheque *</span>
                                <div class="item">
                                    <div class="item-img">
                                        <span>*</span>
                                    </div>
                                    <div class="item-text">
                                        <span>Internet banking and cheque options are only available for one-time payments amount of more than $50,000</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ps-policy-details ng-if="vm.reqType === 'PS'" product="vm.proInfo"></ps-policy-details>
        <per-policy-details ng-if="vm.reqType === 'PER'" product="vm.proInfo" current-step="vm.summaryStep" payment-selected="vm.paymentSelected" channel="vm.channel" on-view-illustration="vm.viewPERIllustration"></per-policy-details>
        <pc-policy-details ng-if="vm.reqType === 'PC'" product="vm.proInfo" payment-gateway="vm.paymentGateway" current-step="vm.summaryStep" channel="vm.channel" discount="vm.hasDiscount" discount-percentage="vm.discountPercentage"></pc-policy-details>
        <pat-policy-details ng-if="vm.reqType === 'PAT'" product="vm.proInfo" payment-gateway="vm.paymentGateway" current-step="vm.summaryStep" channel="vm.channel" discount="vm.hasDiscount" discount-percentage="vm.discountPercentage"></pat-policy-details>
    </div>
</div>
