.summary-box {
    .summary-header {
        .header-waring {
            font-size: 16px;
            padding-top: 5px;
            .header-warning-icon {
                display: inline-block;
                position: relative;
                width: 24px;
                height: 24px;
                background-repeat: no-repeat;
                top: 5px;
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAE1SURBVHgB7ZRNTsMwEIVfnAq2OUJ6g1aIvVkihAQ34AbtDZIb9AgcIRKIH7Ehe6h8BDhC11QaY7dGSqgdj7OFT4qsyJ68vJknA38K+bC+kfdvMqVmgjQqCGHXKbdAcA/KZ7UwS2kf46Tm1mWcQ/JJlSB6dQKWDb7EtL2eb2K1PAdEVefjlgLHqDilUQfu7z/gFz5rL0/bofq4A9JNcC/Poy4GBWwsAT0LHtBayrv3K4wVAPp9bi9OMvv0TuTZSjaqQKqA6f3vwYYocUTLJAE32Bp8FrsaroCLZQoFNK18GwcxlS9qhi0pjMET20MHW2owFk9sewL7WIYH601RFxvbx/XSK+CGlNp7jwiqbmwnnY2f2zKIcagRp3Cxre3Lzu7gfTMWYW7b8/nnvkXpsYyj9S3+4fAN6EVsP+Hvrd0AAAAASUVORK5CYII=');
            }
        }
    }
}

.my-info-banner {
      .my-info-header {
        align-items: center;
        justify-content: center;
        display: flex;
        @media #{$desktop-layout}, #{$tablet-layout} {
          margin-top: 52px;
          margin-bottom: 40px;
        }
        @media #{$mobile-layout} {
          margin-top: 30px;
          margin-bottom: 25px;
        }
        h1 {
          font-family: 'OpenSans-Regular';
          text-align: center;
          font-style: normal;
          @media #{$desktop-layout}, #{$tablet-layout} {
            font-size: 44px;
            line-height: 60px;
          }
          @media #{$mobile-layout} {
            font-size: 30px;
            line-height: 41px;
          }
          font-weight: 400;
          margin: 0px;
          strong {
            font-weight: 700;
            span {
              color: #ED1B2E;
            }
          }
        }
      }
      .my-info-desc {
        align-items: center;
        justify-content: center;
        display: flex;
        p {
          font-family: 'OpenSans-Regular';
          max-width: 700px;
          text-align: center;
          font-style: normal;
          @media #{$desktop-layout}, #{$tablet-layout} {
            font-size: 20px;
            line-height: 30px;
          }
          @media #{$mobile-layout} {
            font-size: 16px;
            line-height: 24px;
          }
          font-weight: 400;
          margin: 0px;
          strong {
            font-weight: 700;
          }
        }
      }
      .get-singpass {
        align-items: center;
        justify-content: center;
        display: flex;
        @media #{$desktop-layout}, #{$tablet-layout} {
          margin-top: 30px;
          margin-bottom: 60px;
        }
        @media #{$mobile-layout} {
          margin-top: 20px;
          margin-bottom: 30px;
        }
        img {
          cursor: pointer;
          @media #{$desktop-layout}, #{$tablet-layout} {
            width: 340px;
            height: 51px;
          }
          @media #{$mobile-layout} {
            width: 290px;
            height: 44px;
          }
        }
      }
      .my-info-error {
        align-items: center;
        justify-content: center;
        display: flex;
        margin-left: 30px;
        margin-right: 30px;
        @media #{$desktop-layout}, #{$tablet-layout} {
          margin-bottom: 40px;
        }
        @media #{$mobile-layout} {
          margin-bottom: 21px;
        }
        p {
          color: #ED1B2E;
          font-weight: 400;
          text-align: center;
          font-style: normal;
          @media #{$desktop-layout}, #{$tablet-layout} {
            font-size: 20px;
            line-height: 30px;
          }
          @media #{$mobile-layout} {
            font-size: 16px;
            line-height: 24px;
          }
          strong {
            font-weight: 700;
            font-style: normal;
          }
        }
      }

      .my-info-error-align-left {
        p {
          text-align: left !important;
          font-family: 'FSAlbertPro-Regular';
        }
      }
}
