<div class="summary-box" id="{{vm.reqType}}-details">
   <div ng-if="vm.showMyInfoBanner" class="my-info-banner">
    <div class="my-info-header"><h1><strong><span>PRU</span>Shield</strong> Application</h1></div>
    <div class="my-info-desc"><p>We can complete your application quickly when we retrieve your personal
      information from <strong>Myinfo with Singpass</strong></p></div>
    <div class="get-singpass"><img ng-src="../../..{{$root.contextPath}}assets/images/svg/myinfo_button.svg" ng-click="vm.handleSubmit()"/></div>
    <div ng-if="vm.showMyInfoBannerError" ng-class="['my-info-error', vm.myInfoErrorClass]">
      <p ng-bind-html="vm.myInfoErrorMessage"></p>
    </div>
  </div>
<div ng-hide="vm.showIframe">
  <div class="summary-header">
    <div class="header-title">
      <div class="container visible-lg header-title-normal" ng-bind-html="vm.pageTitle"></div>
      <div class="container hidden-lg header-title-normal-mobile" ng-bind-html="vm.pageTitle"></div>
    </div>
    <!--Bug 1762: Field validation error message not appearing -->
    <div class="error-desc container" ng-show="vm.showError">
      <b>ERROR: </b>Some of the information provided is incomplete or invalid. Please review the fields in red and re-submit your form.</div>
    <div class="header-waring" ng-show="!vm.closeNote">
      <div class="container">
        <div>
          <span class="header-warning-icon"></span> {{vm.warning}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="summary-navbar" ng-show="vm.reqType == 'PL' || vm.reqType == 'PM'">
  <div class="container">
    <div class="row">
      <div ng-if="vm.reqType != 'PGP' && vm.reqType != 'PGRP' && vm.reqType != 'PS' && !vm.isSinglePremium">
        <div class="col-xs-3 col-sm-3 col-md-2 navbar-item active">
                        <span class="item">
                            <span class="num">1</span>
                            <span class="circle"></span>
                        </span>
          <span class="name">DETAILS</span>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-2 navbar-item">
                        <span class="item">
                            <span class="num">2</span>
                            <span class="circle"></span>
                        </span>
          <span class="name">REVIEW</span>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-2 navbar-item">
                        <span class="item">
                            <span class="num">3</span>
                            <span class="circle"></span>
                        </span>
          <span class="name">PAYMENT</span>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2 navbar-item">
                        <span class="item">
                            <span class="num">4</span>
                            <span class="circle"></span>
                        </span>
          <span class="name">CONFIRMATION</span>
        </div>
      </div>
      <!--PD-2164: Payment step should not show for PGP and PGRP-->
      <div ng-if="vm.reqType == 'PGP' || vm.reqType == 'PGRP' || vm.reqType == 'PS' || vm.isSinglePremium">
        <div class="col-xs-4 col-sm-4 col-md-3 navbar-item active">
                        <span class="item">
                            <span class="num">1</span>
                            <span class="circle"></span>
                        </span>
          <span class="name">DETAILS</span>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3 navbar-item">
                        <span class="item">
                            <span class="num">2</span>
                            <span class="circle"></span>
                        </span>
          <span class="name">REVIEW</span>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3 navbar-item">
                        <span class="item">
                            <span class="num">3</span>
                            <span class="circle"></span>
                        </span>
          <span class="name">CONFIRMATION</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="summary-content-box">
  <div class="container application-summary-container" style="position: relative;">
    <div class="row">
      <div class="col-md-8 content-title-box" ng-show="vm.summaryStep =='EDIT' || vm.myInfoSelected">
        <h1>Additional information</h1>
        <h3>Your application has been pre-filled using your Prudential profile, however a little more information is required to complete it. You'll be able to review your entire application at the next step.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-push-8">
        <policy-details-common profile="vm.profile" summary-step="vm.summaryStep"></policy-details-common>
      </div>
      <div class="col-md-8 col-md-pull-4" id="applicationSummaryLeftContents">
        <div ng-class="{'bg-content': vm.summaryStep =='EDIT'}">
          <div ng-class="{'each-section': vm.summaryStep =='EDIT'}">
            <about-you-common is-collapsed="vm.isCollapsedAboutYou" profile="vm.profile" summary-step="vm.summaryStep" change-detail-step="vm.changeStep($event)"></about-you-common>
          </div>
          <div ng-class="{'each-section': vm.summaryStep =='EDIT'}">
            <more-about-you-common is-collapsed="vm.isCollapsedMoreAbout" hide-upload="vm.hideUpload" profile="vm.profile" summary-step="vm.summaryStep" change-detail-step="vm.changeStep($event)" ng-show="(vm.detailStep != 'aboutYou' || vm.summaryStep == 'REVIEW') || vm.myInfoSelected"
                                   detail-step="vm.detailStep" show-res-add-changed="vm.showResAddChanged"></more-about-you-common>
          </div>
          <!--PD-1532: for PGP-->
          <div ng-class="{'each-section': vm.summaryStep =='EDIT'}">
            <health-common is-collapsed="vm.isCollapsedHealth" profile="vm.profile" summary-step="vm.summaryStep" change-detail-step="vm.changeStep($event)"
                           ng-if="vm.reqType != 'PA' && vm.reqType != 'PGP' && vm.reqType != 'PGRP' && vm.reqType != 'PAS' && vm.reqType != 'PER' && !vm.isPATNonSmoker"
                           ng-show="(vm.detailStep != 'aboutYou' && vm.detailStep != 'moreAboutYou') || vm.summaryStep == 'REVIEW' || vm.myInfoSelected"
                           detail-step="vm.detailStep"></health-common>
          </div>
          <div ng-class="{'each-section': vm.summaryStep =='EDIT'}"  ng-if="vm.isPERdirectEntry">
            <payment-option-summary is-collapsed="vm.isCollapsedPayment"
                                    profile="vm.profile"
                                    summary-step="vm.summaryStep"
                                    change-detail-step="vm.changeStep($event)"
                                    ng-show="(vm.detailStep != 'aboutYou' && vm.detailStep != 'moreAboutYou' && vm.detailStep != 'healthAndLifestyle') || vm.summaryStep == 'REVIEW'"
                                    detail-step="vm.detailStep">
            </payment-option-summary>
          </div>

          <div id="hideDocUpload" ng-class="{'each-section': vm.summaryStep =='EDIT'}" ng-if="!vm.hideDocUpload">
            <upload-your-document-common is-collapsed="vm.isCollapsedUpload"
                                         profile="vm.profile"
                                         summary-step="vm.summaryStep"
                                         change-detail-step="vm.changeStep($event)"
                                         ng-show="(vm.detailStep != 'aboutYou' && vm.detailStep != 'moreAboutYou' && vm.detailStep != 'healthAndLifestyle' && vm.detailStep != 'paymentOption' && vm.summaryStep == 'DETAIL' ) || ((vm.hideUpload && vm.summaryStep == 'EDIT' ))"
                                         detail-step="vm.detailStep"></upload-your-document-common>
          </div>
        </div>
        <div class="btn-box text-right" ng-show="vm.summaryStep =='EDIT'">
          <button id="btnContinueToReviewSummary" name="continueToReviewSummary" title="continueToReviewSummary" class="btn detail-btn detail-submit-btn" validation="vm.validation" ng-disabled="$root.nextDisable" ng-click="vm.validateData()">NEXT</button>
        </div>
        <foot-notes ng-if="vm.reqType == 'PER' || vm.reqType == 'PAS'" header="'Footnotes'" message="vm.footNote" />
      </div>
    </div>
  </div>
</div>
</div>
